[2019-07-13 18:10] ReubenBTalbott opened #7 "Request: Add Airplay."
No idea if this is possible to add to Balena-sound but could Airplay be added?

[2019-07-14 19:19] rolik2001 opened #8 "Can't upload"
![image](https://user-images.githubusercontent.com/20404966/61188269-5943fd80-a685-11e9-8f9a-7e6e4aea7bcc.png)

I have tried to upload from different os, Ubuntu 16.04, 18.04 and Windows 10.

[2019-07-16 19:14] yn1v opened #9 "feature request: usb sound card support for raspberry pi zero W"
I tried a raspberry pi zero with balena-sound. It worked with the HDMI audio output without any configuration on my part. Just had the HMDI cable at boot time. I tried with an USB sound card, but it didn't work having it plugged at boot time. Alsa Mixer list the device, but it can not change or select the output hardware.
I would like to have some tips on how to create a configuration file like .a

[2019-07-17 14:23] mvenilton opened #10 "Bluetooth not discoverable in raspberry pi 3 model B+"
Works like a charm in raspberry pi 3 model B, but in model B+ the bluetooth is not discoverable in phone or pc.

[2019-07-18 03:41] masterjuggler commented on #9
I agree that there should be some simple method of selecting an output. I just put balena-sound on my rpi 3B and have a USB DAC I'd like to use. In the meantime, I created an /etc/asound.conf like you mentioned and just added the lines below, substituting "card 1" with the number you want listed via `aplay -l`.

Create the file with `nano /etc/asound.conf` or whatever text editor you like, and add

[2019-07-18 06:41] janvda commented on #9
@masterjuggler  I guess you created the file `/etc/asound.conf` in a terminal window of the `bluetooth-audio` service but then when you restart that service are any changes to files not undone by the balena docker engine ?

[2019-07-18 07:11] zvin commented on #9
@janvda You can create an `asound.conf` file in [bluetooth-audio](https://github.com/balena-io-projects/balena-sound/tree/master/bluetooth-audio) and add a `COPY asound.conf /etc/` line [here](https://github.com/balena-io-projects/balena-sound/blob/master/bluetooth-audio/Dockerfile.template#L32)

[2019-07-18 09:28] Nytrouz-official commented on #10
I just played a little bit with the lock overdrive button dont know what it does but now my mobilephone is conected
(pi3 B+ same issue)

[2019-07-18 12:35] masterjuggler commented on #9
@janvda Sorry, you're right, I created the file using superuser permissions while under bluetooth-audio, I just edited my previous post to reflect that. I've since restarted my rpi and the changes persisted.

[2019-07-18 16:25] yn1v commented on #9
This is great. The different examples that I saw were lacking of context, if they will be good (or bad) for the specific OS (or the docker file). I was unsure where to start, as there was no file to modify. I was unsure which file to create and where to save it. I will try this on the weekend and report back.
Thanks very much for your help.

[2019-07-19 16:02] yn1v commented on #9
It is working!!
I am really a noob to containers and deployment. So, for anybody else like me, this is what I did.

1. I went to the terminal in the audio container (as opposed as main os) and run the "aplay -l", so I got my sound card number. 0 is bcm (I am assuming is HMDI). 1 is my sound card

1. Went to my computer, looking for my git folder looked for balena-sound and there looked for bluetoo

[2019-07-22 12:09] chrisys commented on #10
@mvenilton interesting! I just deployed to a new 3B+ and see the same thing.

If you use the dashboard terminal and run `bluetoothctl` and then `show` you can see the discoverable status. You can also force it on by running `discoverable on`. I will take a look to see if I can figure out why this is happening.

[2019-07-22 16:40] chrisys commented on #8
The error you have been getting looks to be because we had a requirement for the alsa-base package which is no longer present in the latest version of the base images. We have just released a new version of balenaSound with this removed so if you download v0.0.8 and try pushing again you should be good to go!

[2019-07-22 16:40] #8 closed

[2019-07-22 16:40] chrisys commented on #7
Sure, this is something we can look at! Thanks for the feedback

[2019-07-24 17:05] chrisys commented on #10
You should find this now works ok with v0.0.10 - can you give it a try and reopen this issue if not?

[2019-07-24 17:05] #10 closed

[2019-07-25 12:22] AlexProgrammerDE commented on #7
Maybe this could be a good help: https://github.com/mikebrady/shairport-sync

[2019-07-26 15:11] chrisys commented on #9
@yn1v that's great! Well done on getting it working! Have you thought about creating a PR so we can add the functionality to the project?

[2019-07-26 15:12] chrisys commented on #7
There's also the service here already set up to run on balena which you could copy in to the project https://github.com/balena-io-projects/boombeastic/tree/master/airplay

[2019-07-26 18:20] mvenilton commented on #10
Thanks @chrisys This is working!

[2019-07-31 10:00] pwt opened #15 "Error on startup: /usr/bin/bluealsa: Couldn't acquire D-Bus name: org.bluealsa"
I had this working fine until the last couple of days. Now I get the following error when the container starts:

[code]

There was a Balena image rebuild, but no relevant code changes as far as I'm aware. Deploying an older release avoids the error.

Any ideas?

[2019-07-31 12:21] pwt commented on #15
I've verified that this is happening with the current upstream release (https://github.com/balena-io-projects/balena-sound/commit/521cca4fcc9af35a8f3f1db3d2e211e81b12d77f) with no code changes.

I'm running on a Raspberry Pi Model 3 B+, with the current Balena Host OS (balenaOS 2.38.0+rev1) and Supervisor (9.15.7) versions. The docker-compose.yml file has the required entries.

[2019-07-31 13:18] pwt commented on #15
As a final check, I deleted the device and started from a freshly imaged memory card. No change in behaviour.

[2019-08-01 12:27] Mishco commented on #15
Show me the same error in logs.

* Raspberry Pi Model 3 B+
* balenaOS 2.38.0+rev1
* Supervisor 9.15.7
* v0.0.10

[2019-08-01 15:13] Nytrouz-official commented on #10
how do I update to the new version do I just push it ore do I have to delete the old one?

[2019-08-01 15:15] bderry71 commented on #15
I'm new to Balena.io and this is my first project to load on my Pi with their BalenaOS. I'm glad I'm not the only one seeing this error.

Raspberry Pi 3 B+
balenaOS 2.38.0+rev1
Supervisor 9.15.7
balena-sound v0.0.10

[2019-08-01 15:47] chrisys commented on #10
@Nytrouz-official you can download the new version from GitHub and push it again to your device, you don't have to flash the SD card or delete anything. The build system will recognise that it's only a small change.

[2019-08-01 16:55] Nytrouz-official commented on #10
ok thanks

[2019-08-01 17:01] pwt commented on #15
As I suspected, the problem is due to the switch to Buster from Stretch. If you use Stretch, everything works as before. The first line in Dockerfile.template needs to be changed as follows:

[code]

Probably best to revert back to Stretch while the Buster bugs/changes are worked out. I'm hitting Buster issues in a number of different areas.

I'll create a PR.

[2019-08-01 18:14] txgruppi commented on #15
Thanks @pwt, it is working fine now.

[2019-08-01 20:20] #15 closed

[2019-08-03 09:48] BarryAlvord opened #17 "Cannot play audio on linux PC"
After checking my log on Balena cloud, Here what it shown:

03.08.19 14:06:35 (+0700) <bluetooth-audio> /usr/bin/bluealsa: Unsupported RTP payload type: 1
03.08.19 14:06:35 (+0700) <bluetooth-audio> /usr/bin/bluealsa: Unsupported RTP payload type: 1
03.08.19 14:06:35 (+0700) <bluetooth-audio> /usr/bin/bluealsa: Unsupported RTP payload type: 1
03.08.19 14:06:35 (+0700) <bluetooth-audio> /usr/bin/bl

[2019-08-03 10:02] Nytrouz-official opened #18 "Can´t connect to raspberry pi 3 b+in v0.0.10"
After updating to v0.0.10 I can find the b+ without any problems but when I try to connect my phone the b+ shows up in known devices but its not connectet.

[2019-08-03 12:07] Nytrouz-official commented on #18
ok works in v

[2019-08-03 12:07] #18 closed

[2019-08-03 12:08] Nytrouz-official commented on #18
works in v0.0.11

[2019-08-08 01:22] danielsteiner opened #19 "Unable to locate package bluealsa"
I just tried to push this project to my raspberry but I get an error when it tries to download bluealsa.

[code]

[2019-08-15 22:15] chrisys commented on #19
@danielsteiner I see you're using the 64-bit Raspberry Pi 3 image, could you try with the regular Raspberry Pi 3 image?

[2019-08-17 18:07] ibaxx opened #20 "Need Pairing Password"
I have setup a balena sound device.
It does it job but I am living in a flat and my neighbours can connect to the device, because there is no Password set to pair.

Thats a big issue!

[2019-08-17 22:59] jvolker commented on #9
@yn1v Thanks for documenting your process. I just have a few questions. Unfortunately, it doesn't work for me yet. I don't get an audio signal through my USB sound card.

Is the example what @masterjuggler posted here? https://github.com/balena-io-projects/balena-sound/issues/9#issuecomment-512652662

Where in the file did you exactly include this? I tried after `COPY sounds /usr/src/sounds` and b

[2019-08-21 17:50] iRunn3r opened #21 "Bluetooth doesn't connect automatically when the service starts"
Upon startup, Bluetooth doesn't connect automatically with paired devices on startup. This is very annoying when using BalenaSound in the car as you need to navigate to phone's Bluetooth settings and locate the Bluetooth connection entry.

Steps to reproduce the issue:
1) Power on the Raspberry Pi with BalenaSound installed.
2) Connect a phone to BalenaSound Bluetooth service.
3) Restart the Raspb

[2019-08-25 14:27] Jamdoog commented on #19
Where do I find the regular Raspberry Pi 3 image? I cannot find it on Balena dashboard...

[2019-08-26 08:41] chrisys commented on #19
@Jamdoog I replied to your forum post but... You can’t (currently) mix 32 and 64bit Raspberry Pi devices within the same application, so the fact you’ve set the application default as 64bit Raspberry Pi means that this is the only one of the two devices that you can select on the add new device screen. If you create a new application using Raspberry Pi 3 as the default then you’ll be able to add o

[2019-08-26 23:30] johnborgesfl opened #22 "Add Code to toggle pio pin when bluetooth is connected or when sound is playing"
This will let us control an external amplifier and turn it on when bluetooth pairs.

Volumio has an add-in that does this and it worked great

[2019-08-29 19:47] #19 closed

[2019-08-29 22:22] VoxelTek opened #23 "Cant play any music when connected with iPad"
Whenever I boot the RPi and i see the log on the dashboard, this comes up:
`amixer: Unable to find simple control 'PCM',0`
i ignore it, as i do not think it will affect anything. I connect my iPad(or whatever device i am using) to the bluetooth and start playing some music. when i hear nothing, i go back to the log and see a lot of errors in there. the errors are:
[code]
 however, when i press pau

[2019-09-02 11:19] jvolker commented on #9
Are there any tests I could run or logfiles to get some more information / debug regarding this issue?

Thanks.

[2019-09-02 18:32] xginn8 commented on #19
@chrisys maybe worth noting this in the blog post/README?

[2019-09-04 04:15] yn1v commented on #9
Yes, that is the example. The asound.conf file contains the following lines:

[code]

Yes, exactly there.

I guess so. The "card 0" is BCM, as far as I understand is the sound output of the HDMI. And your usb card is "card 1"

Sorry about the long time that took to reply. I have no idea, I am a noob. It was a challenge for me to figure it out as I am not familiar with command line sound cards and

[2019-09-04 15:25] janvda commented on #9
@yn1v , I am sorry to hear you have these problems.
The good news is that you got the USB sound card "configured".

I think that the current problem you are facing should also be solvable.
Maybe it is worth creating a separate issue for that in this repository.

Some next steps regarding troubleshooting this issue:

- During bad playback : you can run `top` command in a terminal window of your con

[2019-09-04 23:32] kitovh opened #24 "feature request: Could we include multiple connections"
I'm trying to figure out if there would be a way to allow multiple bluetooth devices to connect at the same time. When playing music from all devices, it would just cue whatever comes next regardless of who requested it.

Best,

[2019-09-06 10:47] alchip opened #25 "Does it support Raspi4?"
Does it support Raspi4? I encounter below message when upload.
bluetooth-audio]  apt failed, retrying
[bluetooth-audio]  Reading package lists...
[bluetooth-audio]  Building dependency tree...
[bluetooth-audio]  Reading state information...
[bluetooth-audio]  E: Unable to locate package bluealsa
[bluetooth-audio]
[bluetooth-audio]  Removing intermediate container d6e217f4167a
[bluetooth-audio]  Th

[2019-09-06 13:29] jvolker commented on #9
Thanks for your reply @yn1v.

I thought of some ways to debug my issue. I don't have the time or hardware to do it right now but will hopefully get back to it later.
1. Check if the device is playing back via HDMI (with HDMI display with speakers or tv).
2. Play an audio file with `aplay` like @janvda described in https://github.com/balena-io-projects/balena-sound/issues/9#issuecomment-527952061 t

[2019-09-06 13:35] jvolker opened #26 "Performance on Raspberry Pi Zero good enough?"
As described by @yn1v in https://github.com/balena-io-projects/balena-sound/issues/9#issuecomment-527732187 the performance by the Pi Zero doesn't seem to be good enough for this application.

Can someone with a Pi Zero please share their experiences?
Is the performance on all other versions of the Pi okay?

@janvda described ways to debug performance issues on the Pi Zero:
https://github.com/bale

[2019-09-06 20:20] mcmuffindk commented on #21
I am having kinda the same issue

When you unplug and plug the Pi back in i have to remove it from "My Devices" and then connect to it from scratch or it will error on connection

Enviroment:
iPhone XS iOS 12.4
Raspberry Pi Zero WH
balenaOS 2.32.0+rev1
Balena-Sound master v0.0.11

[2019-09-11 18:11] mcmuffindk opened #27 "Can't connect to device after powerloss"
When you unplug and plug the Pi back in i have to remove it from "My Devices" and then connect to it from scratch or it will error on connection

Enviroment:
iPhone XS iOS 12.4
Raspberry Pi Zero WH
balenaOS 2.32.0+rev1
Balena-Sound master v0.0.11

[2019-09-18 23:10] imrehg opened #28 "Sound for bluetooth connects and disconnects is too loud"
The volume of the connect/disconnect sounds cannot be adjusted and can be too loud.

[2019-09-18 23:10] balena-ci commented on #28
[imrehg] This issue has attached support thread https://jel.ly.fish/#/support-thread~683d2376-1171-4d30-9e40-db5596c91059

[2019-09-19 08:02] chrisys commented on #27
We’ve seen this before, and it has been resolved in balenaOS versions 2.38 and higher. I’m guessing as you’re still seeing it now that you’re running a Raspberry Pi Zero as the current version of balenaOS on the dashboard is 2.32 which exhibits this problem; other Pis have more recent OS versions available.

You can work around this by downloading the latest OS for the Pi Zero from staging: https:

[2019-09-19 08:04] chrisys commented on #25
Right now the project does not support the 64-bit OS which is the only one available for Pi 4, so it doesn't currently work with Pi 4.

[2019-09-21 02:26] xXnijamanXx commented on #26
After seting up the pi zero WH and connection to the bluetooth I seem to have the same issue as @yn1v the Pi will skip, quickly play a section at almost double speed.
I have not yet tried to extensively test the issue but just from these preliminary signs especially the audio quickly playing to "catch up" indicates to me the Pi being overwhelmed then quickly spitting out the audio to catch up. Cou

[2019-09-21 15:46] xXnijamanXx commented on #26
**Update**
It seems to be a Bluetooth Issue after using the  `top` command in Balena the usage would never rise over 30%.

I also noticed that testing distances with my phone from the Pi Zero WH that as I got closer to the device the sound became much more stable with less "skips" and "catch-ups". If the issue is the Bluetooth ability of the Zero perhaps there is an external Bluetooth adapter that

[2019-09-21 21:03] janvda commented on #26
The pi zero WH also seems to support Bluetooth 4.1 - so not only BLE - which should be suited for audio streaming.

[2019-10-01 20:24] danawoodman commented on #19
There are no options for RPi 4 non-64bit in the new application modal: https://cl.ly/a1490cab9abb/Screen%20Shot%202019-10-01%20at%201.24.11%20PM.png

[2019-10-01 20:26] chrisys commented on #19
@danawoodman Raspberry Pi 4 is 64-bit only.

[2019-10-01 20:41] danawoodman commented on #19
@chrisys well the above error occurs when I follow the tutorial and run `balena push <project>` with:

[code]

[2019-10-01 20:47] chrisys commented on #19
@danawoodman this project doesn't support 64-bit OS (and hence Raspberry Pi 4)... yet. There's an issue open here: https://github.com/balena-io-projects/balena-sound/issues/25

[2019-10-01 20:48] danawoodman commented on #19
Ah damn, ok, wish I would have know that before I started 😢  I'll try with a Pi 3

[2019-10-01 20:51] chrisys commented on #19
@danawoodman I'm taking a look at running it on a Pi 4 right now, but yeah if you try a Pi 3 (not 64-bit), you should be set!

[2019-10-01 20:54] chrisys commented on #19
@danawoodman if you edit the first line of `bluetooth-audio/Dockerfile.template` to read `FROM balenalib/raspberrypi3:stretch`, it might work on your Pi 4.

[2019-10-01 21:02] chrisys commented on #19
@danawoodman sorry for the multiple mentions but wanted to let you know incase you were still working on it, I just opened a PR with a simple fix to get it running on Pi 4 (essentially forcing a 32-bit image). It likely won't be merged until tomorrow but the branch is here if you wanted to try it: https://github.com/balena-io-projects/balena-sound/tree/support-pi4

[2019-10-02 06:07] capriciousduck opened #30 "Installing Without Balena"
Hi, a day ago I installed stretch on my Pi 3. I want to try balena sound. Is it possible to deploy this app without using balena OS?

[2019-10-02 09:00] chrisys commented on #30
@capriciousduck of course! The [Dockerfile](https://github.com/balena-io-projects/balena-sound/blob/master/bluetooth-audio/Dockerfile.template) essentially forms a list of instructions for you to carry out manually.

[2019-10-02 10:40] #25 closed

[2019-10-03 00:37] danawoodman commented on #19
@chrisys thanks for the fast action! I will give the new Pi 4 support a test!

I tried on a Pi 3 and could never pair my devices, so hopefully the Pi 4 support does the trick!

[2019-10-03 08:14] chrisys commented on #19
@danawoodman that's unusual, the Pi 3 is usually pretty solid. If you still have trouble with the Pi 4 open an issue and let me know what devices you're trying and I'll take a look.

[2019-10-03 08:14] #30 closed

[2019-10-03 08:15] capriciousduck commented on #30
I build a new docker images using the file your referred in the above comment. I am getting the following error. Also I set host networking mode and also spinned the container up in privileged mode.

Failed to open connection to "system" message bus: Failed to connect to socket /host/run/dbus/system_bus_socket: No such file or directory
Setting volume to 100%
Restarting bluetooth service
Failed to

[2019-10-03 09:02] capriciousduck commented on #30
Got it to work!

Installed python-dbus on host and mounted /var/run/dbus/system_bus_socket to container.

[2019-10-03 13:42] chrisys commented on #30
@capriciousduck nice work!

[2019-10-04 16:07] chrisys commented on #24
@kitovh that wouldn't be possible with the bluetooth audio setup, as it's streaming literally just the audio over the bluetooth, it has no concept of what that audio is or when tracks begin and end. Perhaps it would be possible via another protocol though?

[2019-10-04 16:40] chrisys commented on #7
@ReubenBTalbott I am testing support for this in this PR https://github.com/balena-io-projects/balena-sound/pull/32 - if you get a chance give it a try and let me know what you think!

[2019-10-04 17:18] #28 closed

[2019-10-04 17:20] chrisys commented on #26
I've started noticing issues with this after upgrading my iPhone to iOS 13. Prior to that, and from other devices, it's been working fine on a Pi Zero for me. I'll try to spend some time looking into it soon!

[2019-10-05 02:23] ReubenBTalbott commented on #7
I just tried it and so far it works perfectly, thanks!

[2019-10-05 04:48] ghost opened #33 "Alsa Settings Reset"
Hi Chris, I am really enjoying balena sound. I installed it using the dockerfile(no balena OS). I also switched to ethernet as I thought it will improve my LAN speeds as I am using the Pi as a small NAS and will improve Bluetooth functionality(besides Cypress fix). Everything is working great but the volume setting is resetting.

I am increasing the volume through alsamixer and storing the setting

[2019-10-05 23:44] barhun opened #34 "Set up PIN code with an environment variable"
Since the default PIN code is hard-coded and too easy to guess, it can be a problem for users of this project to not be able to change it. The environment variable `BLUETOOTH_PIN_CODE` seems to be a nice candidate for this purpose, and I'll send a PR soon which is going to implement this solution.

[2019-10-05 23:45] barhun commented on #20
#34 offers a solution.

[2019-10-06 00:07] barhun commented on #34
#35

[2019-10-06 08:32] AlexProgrammerDE opened #36 "Add Spotify Streaming?"
I created in my fork of this project a working spotify client (raspotify). I can´t test it because I don't have premium. I need help by improving it because i have some little problems, but it appears at Spotify :grin: .  My fork is at: https://github.com/AlexProgrammerDE/balena-sound

[2019-10-06 08:47] AlexProgrammerDE commented on #23
Which Pi are you using?

[2019-10-06 10:09] VoxelTek commented on #23
I am using a Raspberry Pi 3B

[2019-10-06 14:28] #36 closed

[2019-10-07 11:49] #7 closed

[2019-10-07 11:50] chrisys commented on #7
Thanks for testing it, I've now merged this to master 👍

[2019-10-07 14:33] danawoodman commented on #19
@chrisys when I get some free time again I will dive back in and try it. Before it would just boot me out via SSH even after making sure the item was not in known_hosts

[2019-10-07 14:54] AlexProgrammerDE commented on #23
Have you tried reinstalling?

[2019-10-07 19:13] AlexProgrammerDE commented on #33
@capriciousduck You can use the function added by chrisys with which you can set the system output of the bluetooth music container. Add to the template:

And replace 100 with your wished Volume.
Also you need to delete the following line from start.sh:

[2019-10-07 22:54] danawoodman commented on #19
I was able to get RPi 4 working on the latest branch! At first it was acting strange but I rebooted and it seems to work pretty well! I'll report back if I find any issues

[2019-10-08 07:08] bloppe opened #42 "Balena shutdown"
Hi,

I've just completed my first Balena project, the Balenasound raspberry pi build. It works great, but I am not sure how to remotely shut my pi down without just turning it off at the wall. Help please

[2019-10-08 09:29] chrisys commented on #19
@danawoodman great stuff, thanks for the feedback!

[2019-10-08 09:41] AlexProgrammerDE commented on #42
![Screenshot_20191008-113829_Samsung Internet](https://user-images.githubusercontent.com/40795980/66385268-7fe1ae00-e9c0-11e9-8a21-193616c78ec2.jpg)
![Screenshot_20191008-113810_Samsung Internet](https://user-images.githubusercontent.com/40795980/66385269-7fe1ae00-e9c0-11e9-8d39-27f12edff61b.jpg)
![Screenshot_20191008-113748_Samsung Internet](https://user-images.githubusercontent.com/40795980/6638

[2019-10-08 09:42] AlexProgrammerDE commented on #42
Go to balena then login then click on the blue device name then click on the arrow and then click shutdown.

[2019-10-08 10:03] chrisys commented on #42
@AlexProgrammerDE thanks for replying here! 👍 As mentioned above, the shutdown option is on the dashboard in the device screen under the dropdown.

![Screenshot 2019-10-08 at 11 02 43](https://user-images.githubusercontent.com/521698/66387144-45294700-e9bb-11e9-8c01-6f050aee3142.png)

[2019-10-10 15:19] #42 closed

[2019-10-11 16:18] AlexProgrammerDE commented on #33
@capriciousduck Has it worked?

[2019-10-11 16:55] capriciousduck commented on #33
No. It is still resetting.

[2019-10-12 06:21] danawoodman commented on #19
So far the Pi 4 has been working solidly 👍

[2019-10-12 10:39] chrisys commented on #19
@danawoodman great to hear, cheers!

[2019-10-13 13:57] VoxelTek commented on #23
Yes, multiple times. I have had the same error every time.

[2019-10-13 14:08] AlexProgrammerDE commented on #23
Are you using the on board jack or a external sound card (USB, GPIO, etc.)?

[2019-10-13 14:08] VoxelTek commented on #23
The on board jack.

[2019-10-13 14:14] AlexProgrammerDE commented on #23
Try it please with:

`apt-get update && apt-get install --reinstall alsa-utils`

(In the bluetooth-audio container which is aviable at the cloud dashboard)

[2019-10-13 14:14] VoxelTek commented on #23
Ok thanks

[2019-10-14 12:18] mabli opened #47 "connection is stagnant"
Hello,

i just installed the balena sound project on my raspi and was very happy that i got it running. :-)
I use it with a raspi 3 and a justboom amp hat soundcard. I can connect via bluetooth, but the song is buffering or the connection is not stable. i don't know. in the logs there are these messages in multiple variations.  .

14.10.19 10:35:29 (+0200) <bluetooth-audio> /usr/bin/bluealsa: Unsu

[2019-10-15 14:23] AlexProgrammerDE commented on #47
https://www.justboom.co/software/configure-justboom-with-raspbian/ has some maybe for you usefull information.

[2019-10-15 14:26] AlexProgrammerDE commented on #47
The page has this info:

dtoverlay=i2s-mmap dtoverlay=justboom-dac

I guess you tried it with justboom-amp but the page uses for the amp justboom-dac

[2019-10-15 16:01] mabli commented on #47
The change to "justboom-dac" seems to have been the answer to the logs. After the change there are no more logs till now. Still i didn't enter the "is2-mmpa" part. What does it?

should i make the entry in that form in the value of the Costum Variable BALENA_HOST_CONFIG_dtoverlay
BALENA_HOST_CONFIG_dtoverlay    "justboom-dac", "i2s-mmpa"

But the stagnant connection is still there. The error appea

[2019-10-15 16:10] AlexProgrammerDE commented on #47
RTP means Real-time Transport Protocol (RTP). You can read more about it in Wikipedia: https://en.wikipedia.org/wiki/Real-time_Transport_Protocol .  And Bluealsa says it is Unsupported.
It is maybe a dtparam error. The web page says you need to set

dtparam=audio=off

Maybe can you then play sounds. Good Luck-
PS: BALENA_HOST_CONFIG_dtoverlay "justboom-dac", "i2s-mmpa" is should be right (I saw so

[2019-10-15 16:25] mabli commented on #47
Applying boot config: {"dtoverlay":["i2s-mmpa","justboom-dac"],"disable_splash":"1","dtparam":["i2c_arm=on","spi=on","audio=off"],"enable_uart":"1","gpu_mem":"16"}

15.10.19 16:41:20 (+0200)  bluetooth-audio  Setting output volume to 100%
15.10.19 16:41:20 (+0200)  bluetooth-audio  Connection notify volume is 75%
15.10.19 16:41:21 (+0200)  bluetooth-audio  amixer: Unable to find simple control 'PC

[2019-10-15 16:37] AlexProgrammerDE commented on #47
What happens when you run:

`apt-get update && apt-get install --reinstall alsa-utils`

In the cloud dashboard terminal in the bluetooth-audio container.

[2019-10-15 17:11] mabli commented on #47
No Change. :-(

[2019-10-15 20:20] mabli commented on #47
I found this discussion of a similar problem, which points in the direction of weak bluetooth signal.

[https://forums.balena.io/t/music-will-skip-and-or-pause-using-balena-sound/34260](https://forums.balena.io/t/music-will-skip-and-or-pause-using-balena-sound/34260)

[2019-10-15 20:52] mabli commented on #47
could this fix it perhabs?

2. Configure /etc/asound.conf (or .asoundrc in your home directory)

pcm.justboom-dac {
type hw card 0
}

pcm.!default {
type plug
slave.pcm "dmixer"
}

pcm.dmixer {
type dmix
ipc_key 1024
slave {
pcm "justboom-dac"
channels 2
}
}

ctl.dmixer {
type hw
card 0
}

[2019-10-16 06:05] AlexProgrammerDE commented on #47
Try it.

[2019-10-16 06:12] AlexProgrammerDE commented on #21
It seems to me hard to bring this into balena-sound. But when you give me the MAC adress  of your mobile can i write a script which connects you automatically per bluetoothctl to your RPI 3. You need then to put the updated file into your copy of balena-sound and then build it again. If you dont know how you get rhe MAC adress i can try to give you instructions, but please try it first yourself.

[2019-10-16 07:40] mabli commented on #47
Nope, didn't change anything regarding sbc decoding error and lost packages. the pauses and stops are still there. i ordered a bluetooth dongle, to give it a try.

[2019-10-16 07:42] AlexProgrammerDE commented on #47
Ok

[2019-10-16 17:00] AlexProgrammerDE commented on #47
@mabli It seems like you have the same problem like in #23 . This seems like a bluetooth problem. VoxelTek sayed me that the RPI has no external AMP or DAC.

[2019-10-16 17:04] AlexProgrammerDE commented on #20
@ibaxx i have implemented a solution in #48

[2019-10-16 20:27] mabli commented on #47
Yeah, i tried also without the amp board an get the same result.

[2019-10-17 05:31] AlexProgrammerDE commented on #47
@mabli It could be a problem with your mobile phone. You have got the same hardware like everyone else and the problem appers only on your RPI and the one in #23 . It is really mysterious. I hope the bluetooth dongle will fix the problem.

[2019-10-17 07:36] mabli commented on #47
i re-installed  balena OS. This time i choose balenaOS 2.38.0+rev1 production. It appears to function now without the package loss and sbc errors. i don't know why. For me it is really a mystery. ;-)

[2019-10-17 07:36] #47 closed

[2019-10-17 07:39] AlexProgrammerDE commented on #47
Oh great.  I will recommend your solution in #23 . Thanks.

[2019-10-17 07:50] AlexProgrammerDE commented on #23
Try it please with balenaOS 2.38.0+rev1 production this was a solution in #47 which had the same errors.

[2019-10-17 10:34] dimitrisnl opened #49 "Spotify Connect & Podcasts"
I noticed that I can't stream Podcasts, although music works just fine.

I believe this could be since Podcasts are being considered "mixed" content, with both Audio & Video, although I doubt video is supported in the regular Spotify client.

Is there any known workaround to possibly stream podcasts too?

[2019-10-17 19:19] AlexProgrammerDE commented on #49
How about bluetooth? This should be a workaround for the next time.

[2019-10-17 19:21] AlexProgrammerDE commented on #17
Try it with another balenaos version or anothe bluetooth adapter.

[2019-10-17 19:28] AlexProgrammerDE commented on #24
In https://github.com/Arkq/bluez-alsa/issues/70 was this mentioned.

[2019-10-17 19:32] AlexProgrammerDE commented on #49
And what do you mean with Spotify airplay & Podcast? Do you mean Spotify connect?

[2019-10-17 19:35] AlexProgrammerDE commented on #22
I dont't understand your request. Do you mean that when a bluetooth device connects a GPIO pin gets activated/disabled?

[2019-10-17 20:18] dimitrisnl commented on #49
@AlexProgrammerDE Yes, my bad. I meant Spotify Connect.
Bluetooth is definitely an option, just wondering.

[2019-10-17 20:31] dimitrisnl commented on #49
Closing. It's something on Spotify's side as I read through some discussions on their boards.

[2019-10-17 20:31] #49 closed

[2019-10-17 22:08] johnborgesfl commented on #22
yes, when a bluetooth device connects, toggle a gpio pin.  this can be used
to with a relay to turn on an external amplifier or perhaps switch inputs

Volumio has this capability for Airplay but they do not implement a
bluetooth receiver.

On Thu, Oct 17, 2019 at 3:35 PM Alex <notifications@github.com> wrote:

[2019-10-18 05:33] AlexProgrammerDE commented on #22
I think i just need to add a line in: https://github.com/balena-io-projects/balena-sound/blob/master/bluetooth-audio/bluetooth-udev which runs when a bluetooth device pairs and disconnects.

[2019-10-18 11:39] AlexProgrammerDE commented on #22
How do you need it? Should the GPIO pin turned off when the device disconnects or should he stay on? And which pin do you want to use?

[2019-10-18 13:18] johnborgesfl commented on #22
The way the volumio implements it is with an addin that you can configure
which pin # you want and if you want it normally off or normally on so as
to provide the most flexibility as to what relay you are using.
Since this is a dedicated player you can perhaps program in any available
two gpio pins one NO and another NC so as avoid a configuration screen
menu. I just need t

On Fri, Oct 18, 2019 a

[2019-10-21 22:13] TomasValenta commented on #9
My soundcard is the **Bose USB Audio**, detected by `aplay -l` as device 1, but the above how-to didn't work for me (tried using bluetooth audio and spotify connect) :(

From previous experience with **raspotify** configuration on Raspbian, I tried to simply disable the onboard audio card and is working fine for me! :) The only change I had to make was changing the **DT param audio** from on to **

[2019-10-30 12:46] dmnc-net commented on #49
Even this is closed issue I can confirm that you can't play podcasts thru Spotify Connect devices (at least based on librespot), only on native Spotify applications.

[2019-10-30 13:08] AlexProgrammerDE commented on #49
Do you know a alternative?

[2019-10-30 14:13] dimitrisnl commented on #49
relevant thread on librespot https://github.com/librespot-org/librespot/issues/90

[2019-10-30 15:53] AlexProgrammerDE commented on #49
I am finished. It could take the developer a long time to integrate it from librespot-java to librespot. I saw that it is not perfect implemented to people which have no premium like me but if you have premium should it work. People without premium can connect to it and in this case is the client will crash. I hope you will bring me good result when you try it. Sorry that i make it this way but my

[2019-10-31 02:31] capriciousduck commented on #33
I am using Dietpi with Docker installed.

[2019-10-31 06:13] AlexProgrammerDE commented on #33
In https://dietpi.com/phpbb/viewtopic.php?t=1508 was the solution: sudo

[2019-10-31 07:42] capriciousduck commented on #33
I am a root user. I am using the latest image of dietpi. It only has root
user by default. So all the commands I run, will run as root.

On Thursday, October 31, 2019, Alex <notifications@github.com> wrote:

[2019-10-31 08:49] AlexProgrammerDE commented on #33
How about this: https://community.roonlabs.com/t/save-last-volume-level-with-dietpi/47635

[2019-10-31 10:39] AlexProgrammerDE commented on #23
@VoxelTek Did it help?

[2019-10-31 10:47] capriciousduck commented on #33
Now I see that the volume is resetting every time I connect and disconnect bluetooth. After connecting to my bluetooth device, I always have less volume output in Pi. So I set to desired volume using alsactl. After I play music  for a while and disconnect and then connect again at some other time the volume is resetting.

I set the volume env variable too. But that doesn't work.

[2019-10-31 10:54] VoxelTek commented on #23
Unfortunately, I have been too busy to try any of these solutions. I should be able to try them in 2 days time.

[2019-10-31 11:35] AlexProgrammerDE commented on #33
How about changing bluetooth-udev everytime you connect and disconnect your specific commands are running.

[2019-10-31 11:42] AlexProgrammerDE commented on #23
Ok

[2019-10-31 12:06] capriciousduck commented on #33
I don't know much about Bluetooth config. Can you please tell me exactly
what I should do?

On Thursday, October 31, 2019, Alex <notifications@github.com> wrote:

[2019-10-31 12:09] AlexProgrammerDE commented on #33
So the bluetooth-udev file is a bash script, which runs specific code in a specific case appears. You will see it when you edit it. :smile_cat:

[2019-10-31 12:11] AlexProgrammerDE commented on #33
There can you add at the end the from you used commands. I dont know if it works. Just try.

[2019-11-02 08:33] AlexProgrammerDE commented on #33
And did it work?

[2019-11-13 20:31] ptanmay143 opened #54 "Using container on other than balenaOS"
Can we use this docker container to run on some other OS like Raspbian or Arch Linux ARM. I ask this because I do not want to install a new OS just to use this single docker when I have everything else configured in the other OS.

[2019-11-14 01:24] ReubenBTalbott opened #55 "Spotify, Bluetooth, and AirPlay crash when starting."
All 3 services crash right after starting and I have no idea what's happening.
I am using a Raspberry Pi 3b with balenaOS 2.43.0+rev1.

Here is the log:
[code]

[2019-11-14 02:27] ReubenBTalbott commented on #55
I did do this on Windows instead of my Mac since it was closer, let me try with the Mac and see if it’s a Windows thing m.

[2019-11-14 22:56] ReubenBTalbott commented on #55
It’s a Windows thing, doing it on a Mac or Linux will fix it.

[2019-11-14 22:57] #55 closed

[2019-11-16 07:04] AlexProgrammerDE commented on #54
@ptanmay143 Yes it works. You can do the following steps to run the compose on boot:

Before you do the next steps you need to make sure that all neccesary thing are installed:
`curl -sSL https://get.docker.com | sh`

Then you need to run this:
`sudo usermod -aG docker pi`

Then you need to run this:
`sudo apt-get install -y libffi-dev libssl-dev python python-pip && sudo pip install docker-compos

[2019-11-16 09:14] AlexProgrammerDE commented on #22
@johnborgesfl I think i found a solution. I can use python to control the GPIO Pins with gpiozero. Python has all functions for implementing it so it could work.

[2019-11-18 22:21] tmigone commented on #21
Hello, I've implemented reconnection to last known device on PR #57 . If you guys get a chance give it a try and let me know what you think.

[2019-11-19 13:24] capriciousduck commented on #54
It is giving  "cannot find dockerfile" error

[2019-11-19 17:59] AlexProgrammerDE commented on #54
@capriciousduck i looked at the dockerfiles and saw that some problems with building can occure on building. There is something like FROM balenalib/%%BALENA_MACHINE_NAME%%:stretch and other file names. I think you can use this file: https://send.firefox.com/download/bf7b45f71b7883e1/#oiv1-CO17bNXRQ7GTMtYYg Just drag and drop it to the bluetooth-audio folder.

[2019-11-19 18:43] chrisys opened #58 "Add name differentiation for different services"
Airplay and bluetooth services are named identically so in some situations it's impossible to differentiate between the two. Example from macOS:

![Screenshot 2019-11-19 at 10 41 36](https://user-images.githubusercontent.com/521698/69175845-63558d00-0ab9-11ea-91b0-0bd3d187736e.png)

[2019-11-20 02:42] capriciousduck commented on #54
The link is not working.

And can you clarify one thing...should I have to install bluetooth drivers on the host or is it not necessary?

[2019-11-20 06:19] AlexProgrammerDE commented on #54
It is not neccesary the dockerfile installs it on the container. Could you say me your model? It need to be written to the base image in the dockerfile.

[2019-11-20 08:56] AlexProgrammerDE commented on #54
https://drive.google.com/file/d/1CJnSE4T5WUGPk5nL2OPzlPoCXwrDriwu/view?usp=drivesdk

[2019-11-20 09:23] capriciousduck commented on #54
Mine is a Pi 3B.

On Wed, Nov 20, 2019, 2:26 PM Alex <notifications@github.com> wrote:

[2019-11-20 10:30] capriciousduck commented on #54
Alex I got the repo name in FROM from docker hub.

Yesterday, I set the FROM command by setting it to balenalib of Pi3

Still  it didn't work. I'll build the image once again with a fresh install
of raspbian stretcha and will let you know.

On Wed, Nov 20, 2019, 2:52 PM Krishna Chaitanya <capriciousduck@gmail.com>
wrote:

[2019-11-20 11:52] AlexProgrammerDE commented on #54
You tried it with my Dockerfile copied and pasted in the bluetooth-audio directory of the balena-sound root directory?
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit GMX Mail gesendet.Am 20.11.19, 11:30, capriciousduck <notifications@github.com> schrieb:
Alex I got the repo name in FROM from docker hub.

Yesterday, I set the FROM command by setting it to balenalib of Pi3

Still  it d

[2019-11-20 12:15] capriciousduck commented on #54
I built the image using the image  balenalib/raspberrypi3:stretch as the base image. And I set some environmental variable based on my preference and I got the following error:

[2019-11-20 12:51] capriciousduck commented on #54
Yeah I even tried with your docker file. I am getting the same error. And moreover I get the error that "/host/run/dbus/system_bus_socket" doesn't exist.

[2019-11-20 14:51] tmigone commented on #54
Hey @capriciousduck, when using balenaOS the label 'io.balena.features.dbus' on the docker-compose.yml bind mounts the host dbus ("/run/dbus") to the container ("/host/run/dbus"). Since you are not using balenaOS the label is doing nothing. You should try bind mounting it manually on the docker-compose file

[2019-11-20 14:56] tmigone commented on #20
PIN code support was implemented on #51. There are some quirks with apple devices (won't work on iOS due to apple security restrictions). Closing this issue.

[2019-11-20 14:56] #20 closed

[2019-11-20 14:57] tmigone commented on #34
PIN code support implemented in #51 . Please do test and let us know any issues you experience, thanks!

[2019-11-20 14:57] #34 closed

[2019-11-20 15:03] AlexProgrammerDE commented on #58
@chrisys this can be easily fixed by defining service variables.

If you delete the worlwide device variable and set `BLUETOOTH_DEVICE_NAME` for airplay and bluetooth-audio.

This is not a workaround for people which want to have no variable set, but it is a solution.

[2019-11-20 15:05] capriciousduck commented on #54
I've rebuilt the image and deployed it. I have, as you said, mounted the dbus of my host to that of the container. When I spin up a new container I get the following error:

[code]

[2019-11-20 15:24] tmigone commented on #54
That looks like your host OS does not have bluetooth drivers installed or enabled.

[2019-11-20 15:27] tmigone commented on #21
Closing issue as PR #57 was merged into master. Please let me know if you have issues with this. Thanks!

[2019-11-20 15:27] #21 closed

[2019-11-20 15:27] AlexProgrammerDE commented on #54
@capriciousduck you can try it with: `sudo apt update && sudo apt upgrade -y && sudo apt install -y alsa-utils bluealsa bluez python-gobject python-dbus mplayer`

[2019-11-20 15:57] capriciousduck commented on #54
Still not working.

Getting the following error:
[code]

[2019-11-20 16:04] AlexProgrammerDE commented on #54
[code]
[code]

[2019-11-22 22:19] chrisys commented on #58
@AlexProgrammerDE good thinking! That's a good workaround

[2019-11-28 04:46] Crinfarr opened #61 "Newlines are in DOS format"
Current version errors out with
`$'\r': command not found`
as DOS newlines are \r\n instead of a Unix \n.  Easily fixed with find/replace.

[2019-11-28 18:52] tmigone commented on #61
Hi @Crinfarr , could you specify what file(s) are you talking about? Thank you.

[2019-11-29 05:59] Crinfarr commented on #61
Specifically the start.sh files are causing trouble, but I would suggest fixing all executed files just in case.

[2019-12-01 14:27] AlexProgrammerDE commented on #61
Hi @Crinfarr i don´t know if we have the same problem. Are you using Windows?

[2019-12-03 03:35] Crinfarr commented on #61
My computer is windows, but it shouldn't matter with a direct clone of the repo AFAIK...

[2019-12-03 06:15] AlexProgrammerDE commented on #61
Yes i did also think that until i saw that. Could you please try to dowload the Zip file (This is under the url *.git). Then you need to spawn a shell in the uzipped folder. In the shell can you push with the balena-cli like before.

[2019-12-04 22:46] Nibbos opened #62 "Sound cuts out or skips every 30 seconds or so, Pi 3"
Experiencing regular sound cutting off when using bluetooth project suggested here:
[https://www.balena.io/blog/turn-your-old-speakers-or-hi-fi-into-bluetooth-receivers-using-only-a-raspberry-pi/]
I added a new DEVICE CONFIGURATION variable, ‘RESIN_HOST_CONFIG_dtoverlay’ and set its value to ‘pi3-disable-wifi’ but this seems to have no effect - although I  can no longer connect to the Pi 3 from th

[2019-12-05 12:07] Guziobi opened #63 "Support for Orange Pi"
I tried to run Balena sound on an orange pi plus 2. Many things seams to be working, but the board is not out putting any audio from the 3.5mm jack

[2019-12-08 13:25] supermooshman opened #64 "Sound delay (approx 1 sec)"
I'm experiencing a sound delay of approximately 1 second making it useless to watch videos. Is this expected behavior?

Using Raspberry Pi 3b

[2019-12-10 22:30] VictorGamer072YT commented on #61
Yup, had to do this, else it would not work, thanks

[2019-12-11 06:39] AlexProgrammerDE commented on #62
I have a connection resolution for you. You can simply flash the image again. (The part with the micro sd card and BalenaEtcher) The PI will get on its own the project files back and then everything should work. But dont forget to delete the from you set var before doing everything.

[2019-12-12 00:46] chrisys commented on #64
@supermooshman take a look at this line https://github.com/balena-io-projects/balena-sound/blob/bcb076810271a06fc6402693afc65ea18a9d1a76/bluetooth-audio/start.sh#L57

You can try reducing the buffer time and see if that helps.

[2019-12-12 00:47] chrisys commented on #63
@Guziobi do you know if the audio works OK on other apps when using balenaOS on the OrangePi? Just trying to figure out if this is a balenaSound issue or something larger.

[2019-12-12 00:49] chrisys commented on #61
@Crinfarr when you clone a repo with git, it will change the line endings to those used by your system and then switch back when you commit. See here for info: https://stackoverflow.com/questions/10418975/how-to-change-line-ending-settings

[2019-12-12 13:15] supermooshman commented on #64
thanks!

[2019-12-12 13:15] #64 closed

[2019-12-13 22:11] thgreasi opened #67 "User want's a visualization of the audio paying on a screen"

[2019-12-13 22:13] balena-ci commented on #67
[thgreasi] This issue has attached support thread https://jel.ly.fish/#/support-thread@1.0.0~4d80c155-8ed5-4a20-8397-a6f51135b67e

[2019-12-14 00:00] #61 closed

[2019-12-14 14:57] stebla27 commented on #62
My sound drops also on Raspi 4! In log you can see:
 bluetooth-audio  /usr/bin/bluealsa: Missing RTP packet: 9953 != 9952
14.12.19 15:57:17 (+0100)  bluetooth-audio  /usr/bin/bluealsa: Missing RTP packet: 9956 != 9954
14.12.19 15:57:17 (+0100)  bluetooth-audio  /usr/bin/bluealsa: Missing RTP packet: 9964 != 9957
14.12.19 15:57:17 (+0100)  bluetooth-audio  /usr/bin/bluealsa: Missing RTP packet: 996

[2019-12-14 15:17] AlexProgrammerDE commented on #62
This error of you @stebla27 is very similar to the one in #47 . You can try it with another balenaOS version or a bluetooth dongle.

[2019-12-14 15:39] stebla27 opened #68 "Airplay issues"
I experience a big latency and audio drop outs on Raspi 4:
14.12.19 16:38:34 (+0100)  airplay  Very large sync error: 196682 frames, with delay: 284882, td_in_frames: 19213, rt: 8157406172, nt: 8157174215, current_delay: 33712, seqno: 22859, given timestamp: 3862206919.
14.12.19 16:38:34 (+0100)  airplay  Very large sync error: 196684 frames, with delay: 284884, td_in_frames: 19224, rt: 8157406172

[2019-12-14 15:47] stebla27 commented on #62
I use balenaOS 2.41! I can't select another version in the balena backend!
Raspi 4 has bluetooth on board! Why should I use a Bluetooth dongle?

[2019-12-14 16:12] AlexProgrammerDE commented on #62
@stebla27
1. When you download the image can you (as far as i know) select the version,at the page of the wifi  password and developement or factory option.
2. In some cases the proximity or the build in bluetooth of your mobile causes mobile. Some people solved this type of error with a bluetooth dongle.

[2019-12-15 11:07] AlexProgrammerDE commented on #67
Hi @chrisys and @thgreasi
I thought about this and did some research. 👓
balena-io-projects has a project named balena dash: https://github.com/balena-io-projects/balena-dash
It uses this image for displaying the browser: marhoy/balena-wpe
The image is very minimalistic and has only the needed commands.
After some more research i found this project, also from balena: https://github.com/balena-io-pr

[2019-12-15 17:43] AlexProgrammerDE commented on #67
Found a better way: https://github.com/balena-io-playground/x11-window-manager

[2019-12-16 19:35] javexed opened #69 "Intermittent issues with streaming"
**Issue**: Noticed that sometimes the Bluetooth would not connect, sometimes that Spotify would not work as it wouldn't show up.
**Root cause**: Running the balena diagnostics quickly identified the source of the problem. Running out of space on the drive (/mnt/data).

When trying to figure out what is using up the data and found the following two folders:
/mnt/data/docker/aufs/diff (~800MB)
/mnt/

[2019-12-16 19:39] javexed commented on #62
I can confirm this issue is with the Raspberry Pi 3+ as well. Moving to direct streaming fixed the audio quality (not really a proper solution) as that bypasses the bluetooth radio and streams over the wifi connection.

[2019-12-16 19:50] AlexProgrammerDE commented on #62
@javexed do you have logs from the dashboard?

[2019-12-16 19:56] AlexProgrammerDE commented on #62
By the way here is a link to a issue in bluealsa with the same errors: https://github.com/Arkq/bluez-alsa/issues/110

[2019-12-16 20:21] javexed commented on #62
Yes, looks similar to that issue, here are some of the logs:

08.12.19 08:05:24 (-0500)  bluetooth-audio  /usr/bin/bluealsa: Missing RTP packet: 48438 != 48437
08.12.19 08:05:38 (-0500)  bluetooth-audio  /usr/bin/bluealsa: Missing RTP packet: 49413 != 49410

[2019-12-16 20:26] thgreasi commented on #67
Hey @AlexProgrammerDE ,
Which Dockerfile.template did you try and there is no `apt`? For example for the Bluetooth audo container of this repo, I expect apt to be available, since it's bases on debian strech. You will probably need to run an update first (`apt-get update && apt-get install gcc` for example), since the base images have an empty apt cache, so that their size doesn't increase with da

[2019-12-16 20:27] thgreasi commented on #67
Sorry for the noise of accidentally closing & re-opening, is was because of a miss-click :disappointed:

[2019-12-16 20:34] AlexProgrammerDE commented on #67
Yeah, i know what you mean. In the image i mentioned in my long message is different from the one in the bluetooth container, but i found this project: https://github.com/balena-io-playground/x11-window-manager , which is very usefull for your idea. It installs a desktop and some other features. It is also compatible with the touchscreen. I am searching for a application, which implements audio vi

[2019-12-16 20:42] javexed commented on #62
Other important note, balena diagnostics also show under voltage. Am looking for a better power supply to see if it is related to this issue.

[2019-12-16 20:43] AlexProgrammerDE commented on #62
@javexed Good idea!

[2019-12-17 14:49] AlexProgrammerDE commented on #69
@javexed i implemented the spotify cache. I thougt of this problem. When you are playing music on spotify it saves some song data and other things for faster music playing. This file can get really large in the future. I think we should implement a manually clearing of the cache.

[2019-12-18 06:46] AlexProgrammerDE commented on #69
@javexed here is a link to what are docker diffs: https://stackoverflow.com/questions/50662178/what-does-docker-aufs-diff-directory-contain-why-is-it-so-big

[2019-12-18 14:44] tmigone commented on #22
@AlexProgrammerDE implemented this on #56

[2019-12-18 14:44] #22 closed

[2019-12-18 16:56] javexed commented on #69
@AlexProgrammerDE thank you for the info. Let me see what I can figure out about doing a docker prune periodically. Any thoughts on how to manually clear the cache?

[2019-12-18 16:58] AlexProgrammerDE commented on #69
Yes, maybe with a var like `CACHE_CLEAR`

[2019-12-18 17:39] clerissonferreira opened #72 "Wi-Fi connect"
Is it possible to implement this project within your project?
https://github.com/balena-io/wifi-connect

[2019-12-18 17:43] clerissonferreira opened #73 "Spotify User and Password"
The project uses raspotify, in the raspotify settings there is the option to enter the username and password, if you are a subscriber, to make the device visible on Spotify Connect over the Internet. In this project how do I set this up?

[2019-12-19 16:15] javexed commented on #69
Ok, after digging around a bit, I think that the /mnt/data/docker/aufs/diff directly "should" be ok and is likely just normal. Pruning doesn't do anything as it all looks to be in use. The recommendations in the link recommend doing restarts and upgrades, which don't help in this case. That leaves the spotify cache directly and I see two options:
1. Periodically clean the cache, only way I figured

[2019-12-19 16:49] AlexProgrammerDE commented on #73
Hello @clerissonferreira . This feature is at the moment not implemented. It is a nice idea. So i will try to implement this. You will need only in the future to set two enviroment variables in the cloud dashboard (You Username/E-Mail and your password). :smiley_cat:

[2019-12-19 17:31] clerissonferreira commented on #73
Thanks for listening. Glad you can help me.

[2019-12-19 17:34] clerissonferreira commented on #72
My idea is to make a portable speaker, and wherever I go, I can easily connect it to wifi through this project, and use airplay or spotify.

[2019-12-19 18:27] AlexProgrammerDE commented on #72
@clerissonferreira this is already implemented in balena-dash. So it is easy to copy this container and paste it in this repo. :smiley_cat:

[2019-12-19 18:33] AlexProgrammerDE commented on #69
Hey @chrisys . It would be nice if you paste the SD Card info from the README in your blog post here:  https://www.balena.io/blog/turn-your-old-speakers-or-hi-fi-into-bluetooth-receivers-using-only-a-raspberry-pi/ Thanks in advance.

[2019-12-19 19:34] clerissonferreira commented on #72
You could do this update / implementation, or help me do it. I have no knowledge about container, just the basics of balena to be able to upload the application to rpi.

[2019-12-19 19:36] AlexProgrammerDE commented on #72
That is very easy. I think you could test the code for me. I will open today or tomorrow a PR. I will keep you informed.

[2019-12-19 19:50] AlexProgrammerDE commented on #72
@clerissonferreira you can now test the code from my PR. My files are in my fork here: https://github.com/AlexProgrammerDE/balena-sound/tree/wifi-connect

You need to do the steps before, but download/get my zip/url from the link above.

[2019-12-19 20:49] clerissonferreira commented on #72
UOOOOOLLLLL ... Very very very much thank you. Worked perfectly......

[2019-12-19 20:51] AlexProgrammerDE commented on #72
I think in some days gets my PR approved and everyone has this feature. 👍  Thank you for this issue.

[2019-12-19 20:57] AlexProgrammerDE commented on #73
Same with this again: https://github.com/AlexProgrammerDE/balena-sound/tree/spotify-login

Please dont wonder if the wifi-connect container disappears. It is not in this branch. You can use both of them, when my PR gets approved. 👍

PS: I cant test if this works. I dont know how to do this, so you can try this.

[2019-12-20 06:48] AlexProgrammerDE commented on #69
@javexed chris forgot to write the info to the blog post. In the README is a Sandisk 8GB Extreme recommended.

[2019-12-20 16:56] javexed commented on #69
Perfect. Closing the issue (still recommend updating the blog post to prevent others from doing the same as me.)

[2019-12-20 16:56] #69 closed

[2019-12-21 11:43] Jordan-Adelson commented on #62
Having the same issue myself. Bluetooth connection from a Huawai Mate 10 to RPI 3. Noted that some users suspected this was an iOS issue, likely not limited to iOS.

These are the two errors repeated in my logs.
21.12.19 22:35:35 (+1100)  bluetooth-audio  /usr/bin/bluealsa: SBC decoding error: No such process
21.12.19 22:35:35 (+1100)  bluetooth-audio  /usr/bin/bluealsa: Missing RTP packet: 27632

[2019-12-27 19:29] tmigone commented on #72
Hello @clerissonferreira ,

It's very easy to use different projects within the same app on a balena device by using the git submodules functionality. This allows to avoid duplicating code and merging unnecessary code into repos.

The approach @AlexProgrammerDE will absolutely work too, but due to `wifi-connect` being a bit out of scope of this particular project we decided to not include it by de

[2019-12-27 19:29] #72 closed

[2020-01-02 13:18] AlexProgrammerDE commented on #73
@clerissonferreira could you please close this issue? I implemented this feature in a PR. You can read more about it in the README.

[2020-01-05 19:32] perseus177 commented on #62
Sound cuts out or skips every 30 seconds
Same problem when I am using Samsung Galaxy S10+

No problem when I am using iPhone 6S

[2020-01-07 11:43] chrisys commented on #73
This feature works perfectly - closing for now. @clerissonferreira please reopen if you're still having trouble with it.

[2020-01-07 11:43] #73 closed

[2020-01-10 20:04] tmigone commented on #27
Closing this issue in favor of Chris' solution: update balenaOS to version 2.38 or higher.

[2020-01-10 20:04] #27 closed

[2020-01-10 20:07] tmigone commented on #17
Hey @BarryAlvord, in case you didn't figure it out, please try with the latest balenaOS version and let us know how it goes. Cheers.

[2020-01-10 20:08] tmigone commented on #23
Hey @VoxelTek, whenever you have time, please feel free to try again with the latest version of balenaOS as Alex suggested. Cheers!

[2020-01-10 20:10] tmigone commented on #54
Hey @capriciousduck did you manage to get it running?

[2020-01-10 22:26] willenglishiv commented on #23
I have a fresh install of this on a raspberry pi 3B and I'm experiencing the same issue.  I connected my galaxy phone through spotify connect and bluetooth and nothing comes out of the audio port.  same error logs.

[2020-01-11 06:13] AlexProgrammerDE commented on #23
@willenglishiv Can you give me the health test reports please?  You can get it at the bottom left of the dashboard.

[2020-01-11 06:19] AlexProgrammerDE commented on #17
@tmigone i think thia account is no longer active.
btw: What is with linux PC ment? balenaSound is for the Raspberry Pi. No wonder that this is not working.

[2020-01-11 06:27] AlexProgrammerDE commented on #63
@Guziobi can you send me your log putput?

[2020-01-13 20:31] tmigone commented on #63
@Guziobi a quick google search suggests that the default audio device for the Orange Pi board is the HDMI, not the 3.5mm jack. This depends of course on the OS you are running, but might be worth checking.

[2020-01-14 21:28] tmigone opened #78 "bluetooth-audio: Volume set to CONNECTION_NOTIFY_VOLUME after connecting"
When connecting via `bluetooth-audio`, it seems the volume set for notifications (75%) is left as default for system output. Seems like [this](https://github.com/balenalabs/balena-sound/blob/master/bluetooth-audio/bluetooth-udev#L18) is not working.

[2020-01-15 15:39] tmigone opened #79 "hdmi-output: not working in RPi4"
HDMI audio is not working on Pi 4.

[2020-01-17 05:42] qkle opened #80 "Balena bluetooth-audio can't be discovered by Nvidia Shield TV and LG TV"
BalenaSound on my Raspberry Pi 3B+ works perfectly fine when connect via Bluetooth from any smart phones or PCs. However, it can't be discovered on the Nvidia Shield TV (2017 model) as well as my LG smart tv.

The Shield TV and the LG TV have no problem connecting to other Bluetooth devices (e.g. bluetooth speakers, headphones or game controller). I have tried reseting all settings and unpairing/p

[2020-01-18 19:54] tmigone commented on #80
Hi @qkle are you using balenaSound in Legacy Mode (with BLUETOOTH_PIN_CODE)?

[2020-01-19 02:28] qkle commented on #80
Hi @tmigone, I'm not sure how to check it but I guess it's running in SSPM mode since I do not have to enter PIN code when pairing from my phone and laptop.

[2020-01-20 14:50] tmigone commented on #62
Hello,

Stuttering issues on the Raspberry Pi 3 are related to a known problem with the BT/WiFi chip. Both the chip manufacturer (Cypress) and the Raspberry Pi Foundation have acknowledged this but unfortunately it does not seem to be a high priority task for them (and I asume it's less likely to happen since the Pi 4 came out and does not have this problem).

The current "workaround" is to use a

[2020-01-20 20:53] the4anoni opened #81 "Request: Add native deezer support"
Like in topic.

[2020-01-21 08:47] anujdeshpande opened #82 "A user reported that balena-sound had issues working on our 64-bit beta OS"
See - https://jel.ly.fish/fbd336b3-c2c5-4e28-aefb-2c1f9daec5fe - for more info

[2020-01-22 14:48] tmigone commented on #67
Closing this issue, see #71 for reasoning, specifically [this](https://github.com/balenalabs/balena-sound/pull/71#issuecomment-567917502) comment.

[2020-01-22 14:48] #67 closed

[2020-01-22 15:21] tmigone commented on #80
Can you try setting it to legacy mode? You can do that by defining a pin code, see [here](https://github.com/balenalabs/balena-sound#set-bluetooth-pin-code-optional) for more details. It might be that the devices don't support sspmode, though they are not that old.

[2020-01-22 15:24] tmigone commented on #33
Possibly related to #78

[2020-01-22 15:26] AlexProgrammerDE commented on #78
Maybe is $SYSTEM_OUTPUT_VOLUME% trying to use the `SYSTEM_OUTPUT_VOLUME%` var.

[2020-01-26 19:23] slambert opened #84 "Add read-only option"
I've added this to RPis I use for streaming to make them more indestructible.

https://learn.adafruit.com/read-only-raspberry-pi/overview

May not need to be included in the software as default, but mentioned in the instructions with a link as an option?

[2020-01-26 23:45] peteretep opened #85 "Suptronics X400 DAC"
My system is a raspberry pi 3 with a Suptronics X400 DAC - http://www.raspberrypiwiki.com/index.php/X400_V3.0
I have disabled the on-board audio by editing the existing `RESIN_HOST_CONFIG_dtparam` variable to set ”audio=off”.
I added the additional custom configuration variable called `BALENA_HOST_CONFIG_dtoverlay` with a value of `hifiberry-dac`.
I suspect this is not the correct value.

On the v

[2020-01-27 07:19] bstan2018 opened #86 "Using Balena-Sound without an Internet connection"
On my setup, Balena-Sound appear to be ready for connection if it is connected to the Internet. Without Internet (for my case, network cable not connected), the device is not discoverable.
I understand that the initial push from cloud for setup must have Internet. However, subsequence daily usage streaming via Bluetooth should not require any Internet connection.
As my Hifi is not co-located with

[2020-01-27 09:41] peteretep commented on #85
This forum thread may be a more appropriate place for this discussion. Please feel free to close this issue if so.
https://forums.balena.io/t/regarding-dac-installation-on-balenasound-project/45568/5

[2020-01-27 13:39] tmigone commented on #84
Hi @slambert, thank you for your suggestion.
balenaOS already uses a read only fs by default, all of the partitions that can be read-only are already in that mode. You can read more about it [here](https://www.balena.io/os/docs/architecture/#Stateless-and-Read-Only-rootFS).

[2020-01-27 13:42] tmigone commented on #85
Hi @peteretep, yes, the forum is a more appropriate place in this case. If it comes down to balenaSound needing a new feature/fix then support will open an issue in here (or feel free to do so). Closing this for the time being!

[2020-01-27 13:42] #85 closed

[2020-01-27 14:19] richbayliss opened #87 "Unable to use Spotify while BT is paired/connected"
From https://forums.balena.io/t/59446

I’ve just configured my RPi3 B+ to cast from various devices to my amplifier.
I am using bluetooth-audio to play music from the Google Home
and using Spotify Connect to play music from any other device.

When I play music from Google Home it is not possible to switch to Spotify Connect.
I get the following error messages.

[code]

I can reconnect via Spotify

[2020-01-27 14:19] balena-ci commented on #87
[richbayliss] This issue has attached support thread https://jel.ly.fish/#/685688bf-53a2-4e5b-9430-982676ee0c49

[2020-01-27 14:35] tmigone commented on #86
Hi @bstan2018, bluetooth audio should work without internet. Are you hitting any errors or is it just that you don't see the device listed?

[2020-01-27 16:54] chrisys commented on #63
@Guziobi as we haven't heard back from you, I'm going to close this ticket for now, feel free to reopen it when you have taken a look at the suggestions/questions above.

[2020-01-27 16:54] #63 closed

[2020-01-27 16:58] chrisys commented on #81
@the4anoni do you know if Deezer offer a Linux client that would make this possible? My very brief Goolging suggests they don't, in which case we wouldn't be able to add this.

[2020-01-27 17:02] chrisys commented on #54
I'm going to close this due to lack of activity and no specific issue listed. @capriciousduck if you find specific things that need to be changed to allow this functionality by all means let us know and we can integrate them into the project.

[2020-01-27 17:02] #54 closed

[2020-01-27 17:03] chrisys commented on #17
Closing due to lack of activity = @BarryAlvord if you have some more info and a specific issue for us to look at please feel free to reopen.

[2020-01-27 17:03] #17 closed

[2020-01-27 17:05] chrisys commented on #82
@anujdeshpande could you add the information in the Github issue - Jellyfish isn't public so contributors won't be able to see what the problem is.

[2020-01-27 17:07] chrisys commented on #23
@willenglishiv  @VoxelTek can you confirm you are not using the 64-bit OS and give it a try with the latest version. If the issue still persists after this please feel free to reopen the ticket.

[2020-01-27 17:07] #23 closed

[2020-01-27 17:13] chrisys commented on #84
Closing as we already have this handled by using balenaOS, but thanks for the suggestion @slambert 👍

[2020-01-27 17:13] #84 closed

[2020-01-27 23:57] bstan2018 commented on #86
Thank you.
I’m actually using an iphone. So, it might be AirPlay instead of Bluetooth audio. Is Internet required for airplay?
Anyway, I’ll verify again later today and update here.

Send from Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Tomás Migone <notifications@github.com>
Sent: Monday, January 27, 2020 10:35:43 PM
To: balenalabs/balena-sound <balena-sound@nore

[2020-01-28 03:25] slambert commented on #84
Huh... didn’t realize. Can you say more? Are you saying it solves the problem because balena-os enables remote shutdown, or because it’s a read-only? With balena-os can you unplug the system while it’s running (without a shutdown) and not risk damaging the file system?

Steve
On Jan 27, 2020, 12:13 PM -0500, Chris Crocker-White <notifications@github.com>, wrote:

[2020-01-28 03:48] tmigone commented on #86
AirPlay uses network/LAN connectivity by default, so you need to have both of your devices connected to the same network. In your case it would be your phone (which is connected via WiFi), and your balenaSound device (connected either by ethernet cable or WiFi).

So I think this could explain why you can't discover the device when you don't have the network cable connected.

One thing I want to cl

[2020-01-28 10:00] peteretep commented on #73
I'm having trouble with this - using my spotify username and password will not authenticate.
My password has spaces in it - could that be the cause of the issue? I'll look into it tonight

[2020-01-28 12:58] the4anoni commented on #81
There isn't native deezer player, but there is deezer web version, or there is SMLoadr.

[2020-01-28 15:21] tmigone commented on #84
Hi @slambert, yes you are correct. balenaOS uses a read-only file system so you don't have risk of damaging it.

[2020-01-29 12:38] rubyxcubes opened #89 "Not recognised"
I'm using Raspberry Pi 3 B+ with balenaOS for Raspberry Pi 3 (not the 64-bit Beta version). It connects with Bluetooth properly, but it isn't recognised as a valid sound output device on any device I use. When I plug it into my speakers, I get a buzzing sound and nothing else. What do I do?

[2020-01-29 16:38] slambert commented on #84
That's great. Thanks for your thoroughness!

[2020-01-29 22:30] peteretep commented on #73
Confirmed that a password with spaces in it does not work. I didn't bother fixing, just changed my password instead.

[2020-01-30 12:35] tmigone commented on #73
Hey thanks for letting us know @peteretep. I'm opening a separate issue to track this and get it fixed soon.

[2020-01-30 12:36] tmigone opened #90 "spotify: Authentication fails if pasword has spaces in it"
Confirmed that a password with spaces in it does not work.

[2020-01-30 12:38] AlexProgrammerDE commented on #90
Found the issue:

https://github.com/balenalabs/balena-sound/blob/abb17686d50aac16c1caf1b7909bfcf706a5c423/spotify/start.sh#L11-L14

https://github.com/balenalabs/balena-sound/blob/abb17686d50aac16c1caf1b7909bfcf706a5c423/spotify/start.sh#L17

The password is not saved in: "" which is then seen as a separate command line argument.

[2020-01-30 14:30] AlexProgrammerDE commented on #90
@tmigone i opened now a PR. I am not able to test it. Could you do it please?

[2020-01-30 17:23] chrisys commented on #89
Hi @rubyxcubes please start a thread on the balena support forums at https://forums.balena.io - ideally include your device logs and device diagnostics output from the dashboard screen. We'll then be able to help out there.

[2020-01-30 17:23] #89 closed

[2020-01-31 04:52] qkle commented on #80
Thanks for your suggestion but I don't think it's the case as both my TV and Nvidia Shield were able to connect to all other bluetooth speakers/headphones without problems.

Anyway I'll close this issue as I gave up and purchased a cheap bluetooth receiver and it works fine with both devices.

[2020-01-31 04:52] #80 closed

[2020-01-31 16:14] gthb96 opened #94 "Audio distortion when volume is 100%"
Hello, when I leave the volume level at 100% I get distorted audio on some tracks.
When I lower the volume on the phone or set the SYSTEM_OUTPUT_VOLUME to 98 the distortion goes away.

Is there any one else with this issue or a fix for it other than setting the volume level lower?

[2020-01-31 17:24] AlexProgrammerDE commented on #58
@chrisys i fixed it in #95 . I requested you to review.

[2020-02-01 11:30] VoxelTek opened #96 "No audio output using onboard 3.5mm audio jack over bluetooth"
Hi there,
So I just did this project on a RPi3, and found out that I could not play any music over Bluetooth or Spotify connect. I am able to select the device as a source in Spotify, but no music comes out of the speakers. If I connect my huawei nova 3i up to it over Bluetooth, no audio comes out of the speakers either. Looking at the console on my balenaDashboard, I see this when I try and play

[2020-02-03 14:36] tmigone commented on #96
hi @VoxelTek, what version of balenaOS are you using? Are you running the 32 bits OS?

[2020-02-03 22:06] balena-ci commented on #82
[dtischler] This issue has attached support thread https://jel.ly.fish/#/7f704146-1aaa-4378-8b4d-dd8d4ea9fcb3

[2020-02-03 22:14] dtischler commented on #82
While attempting this on a Raspberry Pi 3B+ with 64-bit OS, this appears to repeat indefinitely in the logs:

`03.02.20 14:42:59 (-0700)  bluetooth-audio  /usr/bin/bluealsa-aplay: Couldn't open PCM: No such device
03.02.20 14:43:00 (-0700)  bluetooth-audio  ALSA lib pcm_dmix.c:1052:(snd_pcm_dmix_open) unable to open slave
03.02.20 14:43:00 (-0700)  bluetooth-audio  /usr/bin/bluealsa-aplay: Couldn'

[2020-02-06 16:29] laurensoosting opened #100 "Add GPIO output"
Add GPIO output which can be used to enable an amplifier when music is playing.

[2020-02-07 13:53] AlexProgrammerDE commented on #90
@tmigone my PR #91 got merged. You can now close this issue.

[2020-02-07 14:31] tmigone commented on #90
Thanks!

[2020-02-07 14:31] #90 closed

[2020-02-07 14:33] tmigone commented on #78
It's actually set to whatever `CONNECTION_NOTIFY_VOLUME` is, which not always is 75%.

[2020-02-07 14:48] AlexProgrammerDE commented on #58
@chrisys you can now close this issue. You already merged my PR.

[2020-02-07 15:04] tmigone commented on #100
Hi @laurensoosting this feature is already supported via `bluetooth scripts`:
- https://github.com/balenalabs/balena-sound#bluetooth-scripts-optional

Is this useful to you?

[2020-02-07 15:11] tmigone commented on #58
Thanks again!

[2020-02-07 15:11] #58 closed

[2020-02-07 15:21] laurensoosting commented on #100
Im mainly looking for this feature to use with spotify. I hink this could be a nice adition. On this moment the amplifier is always on.

[2020-02-07 15:23] tmigone commented on #100
I see, in that case, yes, that is currently not possible. But it's a nice addition so we'll add it to the backlog. Thanks for the suggestion!

[2020-02-07 15:49] AlexProgrammerDE commented on #100
@tmigone and @laurensoosting i found this wiki page of librespot: https://github.com/librespot-org/librespot/wiki/Options . It has an option named onevent. I will do some research now.

[2020-02-08 04:01] zchbndcc9 commented on #79
Bump. I am experiencing the same issue

[2020-02-08 07:46] zchbndcc9 commented on #79
Fixed by adding `RESIN_HOST_CONFIG_hdmi_mode` set to `2` in the configuration settings.

[2020-02-08 17:42] bodecove opened #102 "possible to add Google Cast-ability ?"
is it ..possible to add Google Cast-ability ?.. if so how.. I'm kind of a noob

[2020-02-08 18:36] zt3030 opened #103 "Connection doesn't work."
Hi,
I've tried to install on 2 ver. 2.47+rev and 2.38+rev1.
On the beginning I've installed on 2.47 ver. and after parring bluetooth i had problems like "decoding error: No such file or directory".
I've read the other's issues, one user said that it works on 2.38 so I did the downdate to 2.38 and now I can't even connect bluetooth device.
Also in both versions Airplay and Spotify connection doesn'

[2020-02-08 19:15] AlexProgrammerDE commented on #102
@bodecove this feature is possible, but requires registration in the dashboard of google.
I found some sdk and guides directly from google: https://developers.google.com/cast/
I think this is a thing for another project.

Hope it helps
Alex

[2020-02-08 19:16] AlexProgrammerDE commented on #103
@zt3030 could you give us some logs from the dashboard please?

[2020-02-08 19:28] zt3030 commented on #103
I haven't saved logs from version 2.47+rev1. But here is log from attempt bluetooth connection on 2.48+rev1.:

08.02.20 19:09:45 (+0100)  bluetooth-audio  Setting output volume to 75%
08.02.20 19:09:45 (+0100)  bluetooth-audio  Connection notify volume is 75%
08.02.20 19:09:45 (+0100)  spotify  INFO:librespot: librespot (raspotify v0.13.1) 5d2cb32 (2019-04-16). Built on 2019-04-29. Build ID: bQrzT

[2020-02-08 19:39] AlexProgrammerDE commented on #103
@zt3030 OK. You wrote too about a decoding error. Is it maybe related to the ones in #47?

[2020-02-08 19:42] zt3030 commented on #103
Yes exactly it is. The solution for #47 was change the version to 2.38+rev1.
For me this downdate didn't helped.

[2020-02-08 20:14] zt3030 commented on #103
Okay, i've pushed this version again and it just started working. Thx a lot for your help @AlexProgrammerDE

[2020-02-08 20:14] #103 closed

[2020-02-08 21:44] Chaosflori25 commented on #96
I tried the same things, but none of them worked, I'm using the rbp3 b+  with wifi with the 64-bit version and the newest update of balena cloud and sound.

[2020-02-08 23:51] VoxelTek commented on #96
Sorry for the late reply, but I am running the 64-bit version, although I have used the 32-bit version in the past on the same Pi, with the same errors.

[2020-02-09 15:10] AlexProgrammerDE commented on #102
@bodecove i have bad news. :( If you want to register your account in the dashboard it wants to pay you a registration fee of 5$. Here is it: https://cast.google.com/publish/#/signup
I think that is a huge problem.

[2020-02-09 15:34] zt3030 opened #104 "Problem with bluetooth paring when: "Attempting to reconnect (...)""
Hi,
What I discovered after one day of using Balena sound is, when I have log "Attempting to reconnect to previous bluetooth device: 84:**:EA:**:A8:**" I can't pair any device, even this which bluetooth adress is displayed (if it is android device) There is no such a problem with iPod.

[2020-02-10 06:53] stew0ralph commented on #94
Not an answer to your question - but what command do I need to use to adjust the SYSTEM_VOLUME_OUTPUT? Mine (Raspi 3B+) seems to be extremely quiet when using Bluetooth, and quieter than I would prefer when using Spotify.
Thanks in advance.

[2020-02-12 06:52] bodecove commented on #102
@AlexProgrammerDE ...i agree..  but if it can be done...I will test it ..for the 5bux...i just need to figure out how  lol

[2020-02-12 14:31] Cyclone47 opened #106 "Services keep restarting"
I have recently installed BelaneAudio. I notice the services keep restarting on my end.

12.02.20 15:30:21 (+0100) Installed service 'spotify sha256:6b1bd29c46fe4bb756176bf313606601e424c89211f77ef9dae100d779c97fdb'
12.02.20 15:30:21 (+0100) Starting service 'spotify sha256:6b1bd29c46fe4bb756176bf313606601e424c89211f77ef9dae100d779c97fdb'
12.02.20 15:30:24 (+0100) Installed service 'bluetooth-audio

[2020-02-12 15:07] tmigone commented on #106
Hi @Cyclone47 , what device and balenaOS are you running? From the logs the only thing worth noting is the line you highlighted, it seems that the `bluetooth-audio` service is unable to find an audio output. Are you running on a Pi 0 by any chance?

[2020-02-12 15:23] Cyclone47 commented on #106
Hi @tmigone I am running on a Raspberry pi 3 with the latest balenaOS.
I did manage to fix it by running "apt-get update && apt-get install --reinstall alsa-utils" as mentioned in https://github.com/balenalabs/balena-sound/issues/23.

Not sure if this is something to look into though, as it didn't work on a clean install for me.
For me it's resolved, feel free to close if theres no further action/

[2020-02-12 15:52] tmigone commented on #104
Hi @zt3030, that log message indicates that device `84::EA::A8:**` was previously connected to balenaSound, so upon rebooting it will attempt to reconnect. Could it be that it is already connected? Im curious also if you redacted the MAC address or if it shows as `84::EA::A8:**`

[2020-02-12 15:54] tmigone commented on #96
hey @VoxelTek , I think this issue is related to the 64-bit version. I don't think i've seen it on 32-bit. I'd advise you to try with the 32-bit version again.

[2020-02-12 15:57] tmigone commented on #86
Closing this as it appears there is no issue. Feel free to reopen.

[2020-02-12 15:57] #86 closed

[2020-02-13 15:26] AlexProgrammerDE commented on #102
@bodecove i found this guide: https://codelabs.developers.google.com/codelabs/cast-receiver/
I think if this works it is a step into the right direction. 👍

[2020-02-13 19:33] chrisys opened #107 "Default system output volume is too low"
I recently reduced the system output volume from a default of 100 to 75%, on the basis that if you're using some DACs, the output volume is far too loud and may cause damage to some systems.

As a result of that the standard Pi output is too low, and although it can be corrected by using the `SYSTEM_OUTPUT_VOLUME` env var, we should figure out some way to reduce the volume for affected DACs only a

[2020-02-13 21:23] VoxelTek commented on #96
Ok, thanks for letting me know. I will try it, and if it doesn't work, I'll let you know.

[2020-02-13 21:30] VoxelTek commented on #96
Hi there,
I cannot seem to find the 32-bit version anymore, as adding a new device presents me with 2 RPi Options:
Raspberry Pi 3 (using 64-bit OS)
Raspberry Pi 4

Has something changed?

[2020-02-16 07:35] AlexProgrammerDE commented on #107
@chrisys we can write a script which checks the RESIN_HOST_CONFIG. Do you know some devices which are affected?

[2020-02-17 16:56] chrisys commented on #107
@AlexProgrammerDE I'll have to check again to be sure but I think it was the `justboom-dac`.

[2020-02-17 17:52] bodecove commented on #102
Sorry.. Been busy.. I'll get it done this week., forward me the test.apk
again if ucan

On Thu, Feb 13, 2020, 9:26 AM Alex <notifications@github.com> wrote:

[2020-02-18 21:08] damaev commented on #62
Hi everybody,

I really spend a lot of time trying to figure out the reason for my stuttering audio (with wifi off) while a working solution for my issue has already been released years ago: reducing the baudrate to 460800. (I was always thinking about increasing it...) See original post here: https://github.com/raspberrypi/linux/issues/2264#issuecomment-344911712

What to do:
edit `/usr/bin/btuar

[2020-02-19 16:58] tmigone commented on #62
hi @damaev , thanks for your contribution!

I just want to add that some time ago I tested the solution you propose and I had mixed results, it did make the stuttering less noticeable on one of my devices, but had no impact on another. If enough people report that it provides a noticeable benefit we definitely should consider patching it or at least mentioning it on the `README`.

[2020-02-21 19:11] cur1ou5soul opened #109 "Add HIFI Berry AMP2 to Configuration"
How can I add HiFi Berry AMP2 as output device?

[2020-02-23 08:54] Ralphie71 opened #110 "Can't restart services after shutdown of Pi4"
Hello guys,

I'm new to balena-sound and I got into troubles after the shutdown of my Pi4 where I had installed the balena-sound system.
Just after the installation everything worked fine so I used the shutdown commend from dashboard  menu and I powerd off the PI4.  Next day when I switched it on again I saw it working on dashboard ( on line ) but none of services was running. All were in Exited s

[2020-02-24 17:22] Micinkator commented on #64
did you fix the delay? where do i find the config once the service / app is running inside the Raspberry?

[2020-02-26 11:26] stalkerGH commented on #17
I can add something more to this topic. I face exactly the same problem. I tried it on different setups:

1) RPi 2 with cheap Bluetooth dongle and connected by cable Ethernet - it is detected by balenaSound, BT LED blinks, no sound from speaker or headphones connected to Pi's audio out. I tried two (latest and previous) balenaOS versions,
2) RPi 3 (32 bit version) - WiFi and BT built-in, latest ba

[2020-02-27 22:44] barthex opened #111 "Add support for IPS LCD on Pimoroni PirateAudio"
Pimoroni pHAT DAC has been replaced by the new Pirate Audio, which is equipped with a SPI LCD to display e.g. the images and name of played tracks. Pimoroni delivered own software based on Mopidy https://github.com/pimoroni/pirate-audio

[2020-03-01 16:09] gakonst commented on #82
Just a +1 on the Bluetooth issue above being reproduced on RPI 3B 64bit

[2020-03-01 19:26] jtonfat opened #112 "bluetooth-audio and LG projector"
Hi!
I am trying to connect a raspberry pi zero W with a justboom-dac to a LG projector using bluetooth.
However, the LG projector does not discover the raspberry pi. My smartphone is able to detect and connect through bluetooth to the raspberry pi but the projector does not.
I have tested both bluetooth methods unsuccesfully : Secure Simple Pairing mode and Legacy mode.
Also, I have tested setting

[2020-03-03 12:38] balena-ci commented on #62
[tmigone] This issue has attached support thread https://jel.ly.fish/#/24fa6e02-fed3-4795-985d-e852d76448ba

[2020-03-03 12:46] tmigone commented on #111
Hi thanks for reporting this @barthex. We definitely want to add support for the Pirate Audio lineup but we haven't had the chance to play with one yet. If you get it to work please do share a PR!

[2020-03-03 13:02] barthex commented on #111
Hi, I'm the owner of Pirate Audio. It sounds beautiful, but in addition to the LCD, I have a haze how to set the right volume - the default causes painful clipping of the attached amplifier. Reducing the volume level through the Spotify Connect interface to a minimum is helpful.
I was thinking about using the -onevent option in librespot in combination with MQTT - this would allow external LCD, ba

[2020-03-03 21:13] jtonfat commented on #80
Hi! I also have the same issue with an LG projector. I have also a bluetooth dongle but I don't know how to configure the RPi to select this dongle as the bluetooth device. Could you please explain me? Thanks

[2020-03-04 13:40] balena-ci commented on #62
[nazrhom] This issue has attached support thread https://jel.ly.fish/#/04d90a91-8eaf-413f-b689-88417a993d40

[2020-03-04 13:42] nazrhom commented on #62
Hey @tmigone @chrisys, a user in the support thread linked above mentioned they experienced similar issues after changing the `BLUETOOTH_DEVICE_NAME` env var, and were able to resolve the issues when deleting that.

[2020-03-04 19:29] Daniol71 commented on #62
Hi, been looking at this issue for a little while now and downgrading to balenaOS v2.38.0+rev1 fixed my bluetooth issues on the RPi3. Obviously a temporary fix but hopefully it helps someone identify what in the following updates broke bluetooth on the RPi3 (perhaps something that got added with RPi4 support). Hope it helps, original post [https://forums.balena.io/t/balenasound-blueooth-audio-on-r

[2020-03-05 13:13] cenix102 commented on #94
@stew0ralph I had the same problem. If you are you using the balenaCloud just go to your device and add a "Device Variable".
name: SYSTEM_OUTPUT_VOLUME
value: 99

that all! enjoy your music
![image](https://user-images.githubusercontent.com/46600012/75984850-731fa280-5eeb-11ea-8fca-1b6b746f393f.png)

[2020-03-05 13:15] cenix102 commented on #107
@chrisys I had the same problem. If you are you using the balenaCloud just go to your device and add a "Device Variable".
name: SYSTEM_OUTPUT_VOLUME
value: 99

that all! enjoy your music
![image](https://user-images.githubusercontent.com/46600012/75984990-bbd75b80-5eeb-11ea-82a9-ea6c4814deaf.png)

btw: with the variable BLUETOOTH_DEVICE_NAME you can change the device name for Bluethooth/Spotify (i

[2020-03-07 02:30] psharma04 commented on #54
This file link does not exist. Could someone re-upload it?

[2020-03-07 10:24] Fiqq90 commented on #111
Hi, I also got a Pirate Audio board. On top of the LCD screen, I was hoping that the 4 buttons on the headphone HAT could also be integrated with BalenaSound to skip/play/pause music over bluetooth/airplay/spotify. I saw that there is already a PR on adding bluetooth remote control, maybe this is something that can work in parallel?

[2020-03-07 12:31] pojashad commented on #107
I have a similar issue, I changed the ```SYSTEM_OUTPUT_VOLUE``` to 100 and I hear the change and volume gets loud for like 2 seconds and the connection drops and then the volume drops back to the standard value. It is the change doesn't get saved
<img width="1258" alt="Skärmavbild 2020-03-07 kl  13 31 39" src="https://user-images.githubusercontent.com/20397026/76143477-fec63a00-6077-11ea-8480-5574

[2020-03-07 13:03] cenix102 commented on #107
@pojashad  What do you use? Raspberry Pi 3+? or something else?

[2020-03-07 20:17] stef-1 commented on #107
I have exactly the same issue as @pojashad, on a Raspberry Pi 3.

[2020-03-08 14:08] albydnc opened #113 "Tinkerboard deployment fails"
Hi everyone,
when I try to push the application to my Tinkerboard, I get
[code]

[2020-03-09 15:29] pojashad commented on #107
Raspberry Pi 4 Model B

[2020-03-09 15:46] tmigone commented on #107
hey @pojashad are you streaming via bluetooth?

[2020-03-10 09:13] chrisys commented on #107
Possibly related forum thread here: https://forums.balena.io/t/balena-sound-low-output/61927

@tmigone do you know if either of the snapcast containers exert any control over the volume?

[2020-03-10 12:11] tmigone commented on #107
I think it might be this bug: https://github.com/balenalabs/balena-sound/issues/78

[2020-03-10 13:02] pojashad commented on #107
Yes I tried both bluetooth and airplay, same issue.

[2020-03-10 22:47] volisok opened #115 "AirPlay is not visible/working"
Hi!
I am new to balena sound, but I like it already. Since 09.2019 I was on bOS 2.38.0 with balena sound master v0.0.11 without any problems using BT and having fun with my old Yamaha HIFI. Yesterday I found our there is  a new AirPlay function and decided to upgrade. Now I have balenaOS 2.47.0+rev1 installed on Pi3 with recent balena sound master v2.0.1.
BT is starting with level 67 (even after a

[2020-03-11 17:46] tmigone opened #117 "multi-room: volume automatically dropping to 36"
Raspberry Pi 4 with balenaOS 2.47.1+rev1. And that´s correct I´m NOT using DAC.

[2020-03-16 12:36] volisok commented on #115
no other services are running on the Pi3. bOS and balena sound were installed using your step by step manual.

[2020-03-17 18:11] BlackFlagTV opened #118 "Bluealsa - No such file or directory"
Hello,

I'm using an Raspberry Pi 3 with balenaSound. When I hear about Airplay, for example, everything sounds fine, but when I hear through Bluetooth, it sounds strange and I get an error message in the console:
`17.03.20 19:05:55 (+0100)  bluetooth-audio  /usr/bin/bluealsa: SBC decoding error: No such file or directory`
`17.03.20 19:05:55 (+0100)  bluetooth-audio  /usr/bin/bluealsa: Missing RTP

[2020-03-19 11:08] boscar98 opened #120 "Is it possible to use RaspiAudio DAC ?"
Is it possible to use RaspiAudio DAC (https://www.raspiaudio.com/home) ? I tried with the Pimoroni pHAT DAC config because it looked similar to me but it didn't work.

[2020-03-20 03:35] lucasdcrk commented on #96
I have the same issue running balenaOS balenaOS 2.47.1+rev1 on a Raspberry Pi.
No audio output whatsoever, cannot find how to download the 32bit version

[2020-03-20 21:12] balena-ci commented on #106
[jtonello] This issue has attached support thread https://jel.ly.fish/#/b40a1ce8-e6c2-480b-a066-4fabc487c3c5

[2020-03-20 21:27] jtonello commented on #106
I found that adding ```RUN install_packages alsa-utils``` to the ./spotify/Dockerfile.template resolved the playback issue.

However, the existing ```start.sh``` script continued to fail after that change. A manual start of /usr/bin/librespot from the command line with simplified config parameters did work. I replaced the contents of ./spotify/start.sh with the same line and it worked:

``/usr/bin

[2020-03-21 04:31] sebastianperruolo commented on #96
Hi, when you create an Application it will ask you what version you want, if you choose the 64bit version then it will only let you download a 64bit version for your device. I faced the same issue and I had to go back and create a new Application.

[2020-03-21 12:04] lucasdcrk commented on #96
I tried this but there is no 32-bit version for the Raspberry pi 4, I tried using the 32-bit raspberry pi 3 version but it doesn't boot

[2020-03-23 08:32] balena-ci commented on #107
[sradevski] This issue has attached support thread https://jel.ly.fish/#/21dc01c9-4022-4d45-911e-e65126e3552b

[2020-03-23 08:51] balena-ci commented on #107
[sradevski] This issue has attached support thread https://jel.ly.fish/#/ea051a55-afd5-4843-aac3-8adaa2bb1f74

[2020-03-23 17:37] bphermansson opened #121 "[Err] Error in socket shutdown: Transport endpoint is not connected"
This fills my logs, one every second:

23.03.20 18:37:42 (+0100)  snapcast-client  2020-03-23 17-37-42 [Err] Error in socket shutdown: Transport endpoint is not connected

Running balenaOS 2.46.1+rev1 on a Raspberry Pi v1.

[2020-03-24 16:47] chrisys commented on #120
Looking at the config it looks like it should work with `dtoverlay=hifiberry-dac` - is that the one you tried?

[2020-03-24 17:24] boscar98 commented on #120
Yeah i tried with this one :/

[2020-03-24 22:28] tmigone opened #122 "multi-room: Add option to force master server IP via env var"
Pi0 devices can miss event broadcasts that announce a new master. Based on my testing this is rare and only on pi0 devices due to them barely being able to run balena-sound stack.

An option to remedy this could be adding an env var `FORCE_MASTER_SERVER` that:
- forces all devices on the fleet to point to that server
- disables autoconfig on stream start

[2020-03-24 22:46] balena-ci commented on #122
[samothx] This issue has attached support thread https://jel.ly.fish/#/669da8cb-cb0c-4a9d-8b91-26be17621a55

[2020-03-25 10:45] chrisys commented on #120
Ah ok, what I'd recommend doing next, is to take a look at what the install script for this device does and make sure all those steps are carried out on your device. At first glance, many of them will be taken care of, but particularly look into the asound.conf changes that are being made.

[2020-03-25 12:02] dikeckaan opened #124 "balena push error after bıid cant upload it"
as you shown my cmd output is here. i can connect ssh and already enabled local mode

`C:\Users\BERKAY\Desktop\balena-sound-master>balena ssh 192.168.0.19
[debug] original argv0="C:\Program Files\balena-cli\bin\\..\client\bin\node.exe" argv=[C:\Program Files\balena-cli\client\bin\node.exe,C:\Program Files\balena-cli\client\bin\run,ssh,192.168.0.19] length=4
Last login: Wed Mar 25 11:55:01 2020 fro

[2020-03-25 13:52] AlexProgrammerDE commented on #120
@chrisys i just looked into the installer. If you download the installer here: script.raspiaudio.com
and have a look at line 333-338:

    if [ -e $CONFIG ] && grep -q "^dtoverlay=hifiberry-dac$" $CONFIG; then
      echo "dtoverlay already active"
    else
       echo "dtoverlay=hifiberry-dac" | sudo tee -a $CONFIG
       ASK_TO_REBOOT=true
    fi

The dtoverly should be `hifiberry-dac`.

[2020-03-25 13:59] boscar98 commented on #120
Well, it's maybe the raspberry itself, he's not very new. i'll try with an other one. Thanks for your help !

[2020-03-25 13:59] #120 closed

[2020-03-27 11:59] balena-ci commented on #117
[robertgzr] This issue has attached support thread https://jel.ly.fish/#/56f2a57e-76f5-46de-a693-f8539400f2a5

[2020-03-27 13:11] tmigone commented on #124
Hello @dikeckaan, thanks for reporting this. Without more information is hard to diagnose this problem, but this looks like a problem either with balena CLI or our builders. Can you post this issue at our [forums](https://forums.balena.io)? We have support agents pretty much all day that can provide you better assistance than in this repo. Thank you!

[2020-03-27 13:11] #124 closed

[2020-03-27 13:13] tmigone commented on #121
Hello @bphermansson can you share a bit more context? Besides this errors showing on your log, is the project working correctly?  Are you seeing this errors pop up even if you are not streaming audio?
Also, what version of the Pi 1 do you have (A, A+, B, B+)?

[2020-03-27 13:18] AlexProgrammerDE commented on #113
@albydnc looks like not all needed dependencies for balena sound are available for the Tinkerboard. Can you please send the whole Log?

[2020-03-27 13:20] tmigone commented on #118
Hello @BlackFlagTV, can you post a larger extract of your logs? I'm mainly interested in knowing if the `Missing RTP packet` line you posted is being logged repeatedly. If that is the case, it's an indicator that you are hitting the issue described here: #62, specifically of interest [this](https://github.com/balenalabs/balena-sound/issues/62#issuecomment-576307747) post.

[2020-03-27 13:25] tmigone commented on #115
Hi @volisok,

Are you setting `CONNECTION_NOTIFY_VOLUME`? You might be hitting this bug: https://github.com/balenalabs/balena-sound/issues/78

There is no env var to disable that service but you can easily do so by removing (or commenting out) spotify service definition from the `docker-compose.yml` file and re-deploying your app. This is what you need to remove:
[code]

We don't have a compiled l

[2020-03-27 13:26] AlexProgrammerDE commented on #102
@bodecove are you still interested in doing this? You have not replied in a while.

[2020-03-27 13:28] tmigone commented on #113
@albydnc as Alex said, there are most likely dependencies that are not available for the Tinkerboard. We haven't tested this project with that board. My first suggestion would be to remove `python-gpiozero` package from this [Dockerfile](https://github.com/balenalabs/balena-sound/blob/master/bluetooth-audio/Dockerfile.template#L13). It's not really essential for most functions and it's a package o

[2020-03-27 13:31] AlexProgrammerDE commented on #113
@tmigone @albydnc if we figure this out can we create a specific Dockerfile, which only is used for the Tinkerboard. Something like Dockerfile.asus-tinker-board

[2020-03-27 13:33] tmigone commented on #112
Hello @jtonfat, can your phone connect easily to the projector? Is the projector brand new or old? Do you have another Raspberry Pi device (maybe a Pi 3 or 4) to test? Perhaps you can scan for bluetooth devices from your Pi Zero to see if it can see the projector.

[2020-03-27 14:13] tmigone commented on #110
Hello @Ralphie71, thanks for reaching out. This looks like a networking problem, but without additional info it's hard to know.
As I don't think this is `balena-sound` specific, Can you please take this issue to our [forums](https://forums.balena.io/)? We have support agents pretty much all day that will be glad to assist you with this.
Cheers!

[2020-03-27 14:13] #110 closed

[2020-03-27 14:19] tmigone commented on #109
Hi @cur1ou5soul were you able to get the DAC to work?

Adding support for that DAC should be pretty straightforward. Please follow [this](https://github.com/balenalabs/balena-sound/blob/master/DAC_configuration.md) guide and use `hifiberry-dacplus` for the `BALENA_HOST_CONFIG_dtoverlay` variable.

If you can test this and confirm it works we can add it to the docs as a supported DAC.

[2020-03-27 14:24] tmigone commented on #106
Hey @Cyclone47 what version of the Pi 3 were you using? I'm having a hard trouble reproducing this issue. @jtonello did you bump into this with a fresh install?

[2020-03-27 14:28] tmigone commented on #94
I think hitting some distortion with volumes maxed out is to be expected (to some degree). As was suggested, `SYSTEM_OUTPUT_VOLUME` variable can be used to adjust overall volume. We are looking into better volume control but for the moment this is the alternative. I'll close this issue for now, feel free to reopen if you have anything else to add.

[2020-03-27 14:28] #94 closed

[2020-03-27 14:33] tmigone commented on #96
Hi @lucasdcrk you are correct there is no 32bit version for the Pi 4. Can you share logs that show the error you are having?

[2020-03-27 14:41] tmigone commented on #104
Hey @zt3030 I'm closing this issue, if you still need help feel free to comment here. Cheers.

[2020-03-27 14:41] #104 closed

[2020-03-27 14:42] tmigone commented on #68
Hello @stebla27 , can you please try with the latest versio of balenaSound?

[2020-03-27 15:57] AlexProgrammerDE commented on #122
@tmigone this is not practical for consumers. They don´t have access to the cloud dashboard.

[2020-03-27 18:27] MatthewCroughan commented on #62
I concur and have had the same experience as Daniol71. Bluetooth performance is much better after reverting to balenaOS v2.38.0+rev1. Though sometimes packets still do drop in an annoying manner, I can't get through a single tune without being irked by it.

If a bluetooth adapter is required, and it seems like it is to get a baseline usable experience, that should be noted in the README.md of the

[2020-03-27 18:34] MatthewCroughan commented on #117
I can vouch for this. I'm using balenaOS v2.38.0+rev1, as this is required due to #62

Despite setting the device variable `SYSTEM_OUTPUT_VOLUME` to `100` I inspected the `bluetooth-audio` container and ran `alsamixer`. I found that the volume was 36, same as the issue title. I turned it up manually here.

[2020-03-27 18:41] MatthewCroughan commented on #62
Scratch that. It seems that it has randomly recovered, as if it has warmed up and is no longer dropping packets. Quite odd. The kernel log is not reporting any undervoltage via `dmesg`, which is the only thing I can think of that would cause it to be so strangely intermittent.

The power supply I'm using is an older model of [this.](https://www.amazon.co.uk/AUKEY-Quick-Charge-3-0-Charger-Black/dp/

[2020-03-27 18:52] MatthewCroughan commented on #62
As things got better, they got worse, as can be expected from power issues. After some time there were consistent undervoltages reported via dmesg, as well as a lot of `Frame reassembly failed (-84)`.

At the very top of the kernel log, at boot-time, there was a single undervoltage reported. This was not then reported continually until around 10-20 mins of usage. I should have saved the logs so th

[2020-03-27 18:57] MatthewCroughan commented on #117
Ah! I think I've observed the behavior fully. Here's what occurs.

- Device boots
- Variable is applied somewhere in the entrypoint
- Bluetooth connection is established
- Music plays at 100% volume initially for around 1-2 seconds
- Volume reverts to 36 seconds after bluetooth connection is established

[2020-03-27 19:02] MatthewCroughan commented on #117
Indeed, every time a bluetooth device is connected, the volume reverts to 36.

`[  847.092383] input: 28:16:7F:63:61:91 as /devices/virtual/input/input2` this also occurs and is visible in the kernel log at the same time.

Interestingly, it seems udevd is having a hard time with these virtual inputs, and sometimes it actually kills them. At one point this did actually cause the volume to drop back

[2020-03-27 19:29] MatthewCroughan commented on #62
Wow. I didn't expect to see such a difference between all these PSUs. I exposed each PSU to around 15 mins of testing using the same mobile device to stream audio via Bluetooth.

### Aukey 3A with "Smart Charging":
- Lots of frame reassembly failure
- Undervoltage reported every now and then

### Motorola 2A PSU:
- Less frame reassembly failure
- Bursts of reassembly failure every minute or so
- *

[2020-03-27 19:35] AlexProgrammerDE commented on #62
@MatthewCroughan what Pi are you using?

[2020-03-27 19:35] MatthewCroughan commented on #62
After about 30 mins of playback, I just received a second burst of reassembly errors. Though this is not a problem, as I have lots of other equipment that has similar hickups and it is to be expected. It's performing better than my bluetooth earbuds for example

[code]
Interestingly, the udevd errors I've mentioned in #117 have also dramatically reduced when using the 3A PSU.

[2020-03-27 19:36] MatthewCroughan commented on #62
@AlexProgrammerDE I'm using a Pi3 Model B V1.2

[2020-03-28 10:10] AlexProgrammerDE commented on #113
@tmigone @albydnc i just checked the dependencies via a test project. There are multiple problems: bluealsa is not available via apt, python-gpiozero is not available via apt and snapcast works not with tinkerboard.
That is my full log:
$ balena push Test
[Info]              Starting build for Test, user g_alex_krem
[Info]              Dashboard link: https://dashboard.balena-cloud.com/apps/162287

[2020-03-30 11:47] thep18 opened #127 "Airplay huge audio delay"
Hi everyone,

New to the forum.
I've been using BalenaSound through Airplay on a Rasp4 for a few months and everything worked fine except a noticeable audio delay (-2000ms) that I used to manually correct every time I wanted to watch a movie or something.
I recently updated to the latest version of the OS (2.48.0+rev1) and of the Supervisor (10.8.0), now the audio delay is almost double (I'm at -3

[2020-03-30 12:28] AedanBarr commented on #127
I am also having this problem. I just use Spotify until this is solved.

[2020-03-30 13:33] tmigone commented on #127
Hello, @thep18, changing balenaOS version won't do much as the added delay is most likely due to the inclusion of snapcast for multi-room feature. You can disable it and see if it helps: https://github.com/balenalabs/balena-sound/#multi-room

[2020-03-30 13:35] tmigone commented on #117
Thanks @MatthewCroughan for the thorough investigation. I'll work on fixing this shortly, the information you compiled surely does help.

[2020-03-30 13:37] tmigone commented on #113
Thanks @AlexProgrammerDE!
We would love to add support for the Tinkerboard in the future, for the time being as I don't have one it's very hard to do so. I'll see if I can get my hands on one but with the current covid situation I don't know when that could be. @albydnc if you make any progress feel free to share in this thread.

[2020-03-30 14:55] thep18 commented on #127
That did it for me. I'm back with the -2000ms delay that I'm used to.
Thanks @tmigone

Any idea on how to fix that now ahah?

[2020-03-30 15:49] tmigone commented on #127
Glad to know that helped!

About the 2000ms or so delay, in the case of AirPlay that is actually a design choice made by the library author. You can read more about it [here](https://github.com/mikebrady/shairport-sync/issues/526) but the gist of it is that the delay is required to avoid sync problems over the network.

With regards to multi-room delay, adding that feature requires the usage of Sn

[2020-03-30 15:49] #127 closed

[2020-03-31 16:25] #78 closed

[2020-04-01 03:36] BitForger opened #131 "Spotify Authentication failing 'BadCredentials'"
Hey all,

So I've been enjoying balena sound so far, but I keep running into a problem with authentication with spotify. I add the credentials like directed however when ever it attempts to run from the command line it just doesn't like to authenticate. Here is what I see:
[code]

So running the librespot command straight in the CLI with the variables `SPOTIFY_LOGIN` and `SPOTIFY_PASSWORD` defined

[2020-04-01 08:40] chrisys commented on #131
@BitForger any special characters in your username or password?

[2020-04-01 08:43] chrisys commented on #62
@MatthewCroughan that's some awesome investigative work! I too had no idea that the PSU was playing that much of a part here

[2020-04-01 09:58] Rzaw opened #133 "EQ support"
Hi! This is my first time submitting feature.
I was wondering if it could be possible to add Eq to output?

Currently I'm using Raspberry Pi Zero (Non-W) attached to USB Lan card with external sound card (Focusrite Scarlett 2i2)

[2020-04-01 10:16] peteretep commented on #131
also having this issue. no special chars.

[2020-04-01 10:31] peteretep opened #134 "Player thread panicked!"
The Spotify service has stopped working for me.

Here are the logs:

[code]

[2020-04-01 12:20] chrisys commented on #82
As a fix whilst we look into this, you should be able to simply remove the `vc4-kms-v3d` overlay from the device configuration and reboot, after that the 64-bit OS should work.

[2020-04-01 12:24] BitForger commented on #131
@Chrisys I tried with one that had a bunch, then changed it to one with only underscores. Same result for both.

[2020-04-01 15:09] AlexProgrammerDE commented on #133
@Rzaw there is already a EQ alsa package for this: https://wiki.ubuntuusers.de/Alsamixer/#Equalizer
This should theoraticly work with it, but i don´t know how to save the alsa configuration.

[2020-04-01 16:12] AlexProgrammerDE commented on #33
Closing, because the account got deleted and this issue got possibly resolved by #129 .

[2020-04-01 16:12] #33 closed

[2020-04-01 16:24] AlexProgrammerDE commented on #79
@tmigone works the comment from zchbndcc9 for you?

[2020-04-02 09:44] peteretep commented on #134
If I log into the container and start a new librespot process with a different name, it seems to work ok.

[2020-04-02 12:31] peteretep commented on #134
This seems to be related to the mulitroom support.
If I change the line in start.sh to
`exec /usr/bin/librespot --name "$BLUETOOTH_DEVICE_NAME" --bitrate 320 --cache /var/cache/raspotify --enable-volume-normalisation --linear-volume --initial-volume=$SYSTEM_OUTPUT_VOLUME $SPOTIFY_CREDENTIALS
`
It works fine.

It's a pi3, 64bit os.

[2020-04-02 13:58] peteretep opened #139 "DNLA/Upnp"
The `airplay` service can be used to stream from an apple device. You can't do similar from an android or other device.
The bluetooth service has limitations.
The equivalent service for android/other devices is DNLA/UPnP.
Would it be possible to add a UPnP service, and if so has anyone explored this?
I haven't been able to get my head around the various UPnP clients etc and would like some pointer

[2020-04-02 19:51] AlexProgrammerDE commented on #139
@peteretep i have opened a work in progress PR. it will take some time, but connecting already works. I will later add the multiroom feature.

[2020-04-03 08:49] peteretep commented on #139
Great! I'll try it out. Thanks.

[2020-04-03 21:00] bodecove commented on #102
I am still interested ..just with the virus here in usa Illinois..been
really busy with news.. And many life changes..i will try and get going on
this...reply with . APK u want me to test

On Fri, Mar 27, 2020, 8:26 AM Alex <notifications@github.com> wrote:

[2020-04-03 22:02] polmdm opened #142 "Bad noise RPi"
Hi,
I’ve just flashed balenaOS + balena sound following the instructions on website. I’m currently using a RPi 3 with 32-bit software and when i connect my amplifier the only thing I ear is a bad noise and even trying to play some music (both Spotify or Bluetooth) the noise won’t stop.

To check that amplifier and cable work properly I’ve tried to connect my phone and everything works properly. It

[2020-04-04 13:29] AlexProgrammerDE commented on #142
@polmdm i have the same issue. What PSU are you using?

[2020-04-04 13:40] AlexProgrammerDE commented on #102
@bodecove i think you don´t need a apk file. It should also work with Youtube and other streaming enabled services. Can you try to get this running on a Pi: https://codelabs.developers.google.com/codelabs/cast-receiver/#0 ?

This should give you video and music output. Let me know if you are finished.

[2020-04-04 13:51] polmdm commented on #142
@AlexProgrammerDE what do you mean with PSU?

So far what I've discovered:
 - with the earpods the issue not occur at all, some lag but no background noise
 - with a different cable the noise is way less

but in both cases very low volume!

[2020-04-04 13:53] AlexProgrammerDE commented on #142
@polmdm PSU=Power Supply Unit
Not certified PSU´s can cause issues. So what are you using?

[2020-04-04 14:00] polmdm commented on #142
You mean for the Raspberry?

[2020-04-04 14:01] AlexProgrammerDE commented on #142
@polmdm yes. Which power supply gives your Pi the energy?

[2020-04-04 14:05] polmdm commented on #142
I'm using a power supply bought in a starter kit for rpi, it supply 5V and 2.5 A, the model is XS-0502500SEUD should I change it?

[2020-04-04 14:13] AlexProgrammerDE commented on #142
@polmdm i think there are differences between some PSUs. Here a example https://github.com/balenalabs/balena-sound/issues/62#issuecomment-605265537

Can you try it with other PSU´s

[2020-04-04 16:21] fabio323ti opened #144 "DAC compatibility"
Does someone have a list of DAC Pi compatible ?
i wish to buy "AUDIOPHONICS I-SABRE V2.1 DAC ES9023 TCXO Raspberry"
but im not sure if it works with Balena.
Thanks

[2020-04-04 18:20] BitForger commented on #131
So I was digging into this a bit more and I think the issue is that concatenating the options into a string and then using it in the exec line isn't turning the string into cli options. It seems the librespot args interpreter is seeing it as a single string option instead of parsing the string as multiple options.

I changed my test script to this:
[code]
In this format it works perfectly fine.

I

[2020-04-04 22:28] MatthewCroughan commented on #117
I've just solved this issue. It might be a good idea to change the title of this issue since it doesn't seem to be a problem with multi-room specifically, but rather with the use of the `amixer sset` commands in the udev rule and entrypoint of the `bluetooth-audio` container.

https://github.com/balenalabs/balena-sound/blob/ce2470e07bf74a6fa4b96271b6ee9056d78898a8/bluetooth-audio/start.sh#L21-L22

[2020-04-04 22:29] Baryczka commented on #131
For me it started working finally when I remove quotes and escapes from spotify/start.sh line:23
[code]
Otherwise it looks as variables were not assigned properly.

[2020-04-04 22:59] MatthewCroughan commented on #117
Excuse the poor commits and force commits, I was just confused about how to actually follow the contribution guidelines. I did not know that putting multiple commit messages would separate them out into paragraphs like that.

[2020-04-05 08:34] AlexProgrammerDE commented on #144
@fabio323ti there is no guarantee that it will work. But everything that works with raspbian should work with balenaOS. We have made a list of DAC hats that should work with balena: https://github.com/balenalabs/balena-sound/blob/master/DAC_configuration.md#balena_host_config_dtoverlay-values

Your DAC is not in it. But the page here: https://www.audiophonics.fr/en/dac-and-interfaces-for-raspberry

[2020-04-05 09:05] marcgarciamarti commented on #86
Hello! can we reopen this issue? I too have an iphone and I just disconnected the ethernet cable. Balena is correctly displayed as bluetooth device and I can connect to it. When I do that I would hear a ding but whatever I do, no sound comes out of my Raspberry Pi. If I hook the Pi up to the internet it will resume playing through Spotify Connect just fine.

[2020-04-05 09:10] AlexProgrammerDE commented on #86
@marcgarciamarti do i understand that correctly? Your Pi gives no output over bluetooth if it isnt connected to the network and it gives output over bluetooth if it is connected to the network?

[2020-04-05 09:33] polmdm commented on #142
@AlexProgrammerDE since I don't have other PSU and since I would like to develop this project on a Raspberry with Docker I think I'll go for another solution. Thanks you very much!

[2020-04-05 10:19] marcgarciamarti commented on #86
Allow me some time. I’ve just tampered with this: https://forums.balena.io/t/balena-sound-low-output/61927?page=2 and while testing, I would say that I may be wrong. I’ll get back.

[2020-04-05 11:49] AedanBarr opened #146 "Custom Bluetooth name not working"
**Describe the bug**
I have a custom name set but now it just says “balenaSound Spotify cf65”. This has only happed when you updated to 2.1.1

**Expected behavior**
I expect it to show “AEDAN’S RASPBERRY PI”

**Screenshots**
![A58ED790-2DDD-4274-A29C-7140B29F9C4F](https://user-images.githubusercontent.com/59069724/78474279-dc284f00-7711-11ea-99f8-145af21f4699.png)
![215F2BC3-4BB9-421B-AAEB-8968A24

[2020-04-05 12:03] AlexProgrammerDE commented on #146
@AedanBarr we updated the variable. BalenaSound supports now Airplay, Bluetooth, Spotify Connect and soon UPnP. `BLUETOOTH_DEVICE_NAME` is no longer right. We updated it to: `DEVICE_NAME`.

[2020-04-05 12:04] AedanBarr commented on #146
Thanks. That explains why it was not working

[2020-04-05 12:05] #146 closed

[2020-04-05 15:53] BitForger commented on #131
Interesting.. so it seems that escaping that so you can have passwords with spaces breaks the functionality for people with normal passwords.

[2020-04-06 20:48] magnus411 opened #148 "Balena Raspberry Pi 3B Sound stuttering and noise Issue"
Hello! I just downloaded and set up my Raspberry Pi with BalenaOS. The problem is when I try to play a song. The music kind of stutters all the time, and when I try to pause or turn up the volume, it takes a couple of seconds before it happens. It also produces a lot of noise

I have tried flashing the SDcard and installing it all again, but it still doesn't work and the music is unplayable becaus

[2020-04-07 03:30] anaclumos commented on #148
I also have the same problem. Although the sound improved after switching my PSU to 5V 3A, the background white noise and noticable Airplay and Bluetooth lag persists. Also the volume is somewhat low even after setting the volume to max. I use 3B+.

[2020-04-07 16:42] radek2s opened #149 "Not pairing with Android OS"
**Not pairing with Android OS**
I've tried to connect BalenaSound (v2.1.2) project with android device. RPI is discoverable (also with custom name) as a Bluetooth Speaker but any connection via bluetooth has not been established. (I've tried with PIN method and without).  Spotify Connect works so I'am sure that the rest of the app is working well.

**To Reproduce**
Steps to reproduce the behavior:

[2020-04-08 14:22] tmigone commented on #148
Hello @magnus411, quick question, are you using a Pi 3? This looks like you are hitting a known issue where WiFi and Bluetooth interfere with each other (see [here](https://github.com/balenalabs/balena-sound/blob/master/DeviceSupport.md), item 4).

@anaclumos, regarding your problems, can you expand a bit on background white noise? That is something I haven't seen yet. Is it always coming out? Cou

[2020-04-08 15:36] #117 closed

[2020-04-08 18:21] AlexProgrammerDE commented on #149
@radek2s did your device give you any error message?

[2020-04-09 10:10] AlexProgrammerDE commented on #81
@the4anoni i like the idea too, but since dezzer support not a comfortable way of playing music from your mobile phone it can be only used via the web. BalenaSound points not in that direction. But i have a good idea for you. Balena has made a web browser for the Pi: https://github.com/balenalabs/balena-wpe
You can use it to connect to `deezer.com`. And if you like to use balenaSound and this brow

[2020-04-09 10:10] #81 closed

[2020-04-09 15:01] rmcburney86 opened #155 "Additional device support"
I came across this project and was extremely excited until I saw it was only available for Pis.
Is there any chance you could add additional device support?  I have 3 ODroid C2s and an XU4 that I would love to run this on.
I tried deploying on the XU4, but the deployment failed on the Bluetooth drivers.
Thank you
Ryan

[2020-04-09 15:04] AlexProgrammerDE commented on #155
@rmcburney86 can you give me the logs of the deployment?

[2020-04-09 15:19] rmcburney86 commented on #155
Sure thing.

This appears to be the fatal step:

Step 4/15 : RUN install_packages   alsa-
utils   bluealsa   bluez   python-dbus   python-gobject   python-
gpiozero
 ---> Running in 4ce9c37863d0
Reading package lists...
Building dependency tree...
Reading state information...
E: Unable to locate package bluealsa
E: Unable to locate package python-gpiozero

-----Original Message-----
From: Alex <no

[2020-04-09 15:29] AlexProgrammerDE commented on #155
@rmcburney86 are you sure they support bluetooth? I cant find any information about that.

[2020-04-09 15:47] rmcburney86 commented on #155
@AlexProgrammerDE
No, they don't natively.
Do you think it would make more sense to add a USB Bluetooth adapter or run the project with only WiFi connectivity?
I think I have a USB Bluetooth\Wifi adapter in my parts bin I could try.

[2020-04-09 16:21] AlexProgrammerDE commented on #155
I think we can get bluetooth working with a dongle and some time. Bluealsa is the bridge between bluetooth and your device output. We have to build it from source and then install it. I will later work on it. But if you dont need bluetooth can we just use airplay and spotify. Do you want bluetooth?

[2020-04-09 16:33] rmcburney86 commented on #155
I'd be happy to start with airplay and Spotify and work on Bluetooth down the road.

[2020-04-09 17:22] AlexProgrammerDE commented on #155
@rmcburney86 lets check if everything works without bluetooth.
You have to change some code in the compose file: https://github.com/balenalabs/balena-sound/blob/master/docker-compose.yml This file is the main of the project and says which services should be build and where they are pointed. To disable bluetooth you have to delete this part of the file:

[2020-04-09 22:47] cflachen commented on #115
Hi everybody,
I had the same problem with Air Play on my iPhone not finding my Raspi3. Since I only have 1 system running balena-Sound, I set the environment variable DISABLE_MULTI_ROOM to 1, and now the Raspi is recognized by my iPhone.
I hope this will help in debugging the problem.
Cheers, Claus

[2020-04-10 00:08] cflachen commented on #148
Hi all, I had the same stuttering problem on my 3B+. SInce I only have one device running balena-Sound, I decided to disable the multi-room feature (DISABLE_MULTI_ROOM = 1).
Now the sound is crystal clear and I only get a missing RTP packet every 10-20 minutes.
I can also play through Bluetooth from two devices simultaneously, which was completely chopping everything up before, while still using t

[2020-04-10 09:50] AlexProgrammerDE commented on #24
@chrisys @kitovh i have just tested it on my RPI 4 1GB. My two connected android phones were able to play music. But if both devices play at the same time i get RTP errors. Maybe is this caused by the firmware, which cant handle so many packets. As long as only one device plays music is this ok. I will close for now. Feel free to reopen if you have still problems with it.

[2020-04-10 09:50] #24 closed

[2020-04-10 10:01] AlexProgrammerDE commented on #87
@richbayliss i think multiroom could solve this issue.

[2020-04-10 10:05] AlexProgrammerDE commented on #68
@stebla27 i will close this issue for now. I think this is more a shairport-sync problem and needs to be forwarded to their project. We are not developer of shairport-sync, so we cant help you here like there. Feel free to reopen if you have new problems with airplay.

[2020-04-10 10:05] #68 closed

[2020-04-10 10:41] AlexProgrammerDE commented on #107
@chrisys what about setting it to 100 and warning the user that it can get extremly loud on a DAC?

[2020-04-10 10:45] AlexProgrammerDE commented on #112
@jtonfat i will close this issue for now. We cant help you without more information. Feel free to reopen if you still have this issue.

[2020-04-10 10:45] #112 closed

[2020-04-10 14:02] #109 closed

[2020-04-10 14:51] rmcburney86 commented on #155
That worked, mostly.

The project installed on the XU4 and I can connect to it using
AirPlay.  But there is no audio output,I'm guessing because the DAC a
different.

How would I find the settings for the onboard DAC to use the audio that
runs through the HDMI?

Thank you
Ryan

-----Original Message-----
From: Alex <notifications@github.com>
Reply-To: balenalabs/balena-sound <
reply@reply.github.c

[2020-04-10 14:58] AlexProgrammerDE commented on #155
@rmcburney86 i think this comment could help you: https://github.com/balenalabs/balena-sound/issues/79#issuecomment-583712988

It must be set in Fleet Configuration / Device Configuration

[2020-04-10 18:11] diwaffm opened #160 "WIFI-Support?"
Since I didn't read anything about this, I wonder, if BalenaSound supports the Raspi 4s WIFI module?

I like to build a multi-room enviorment - but I don't hat LAN in all the rooms (e.g. the kitchen oder the bathroom)

Ciao

dirk

[2020-04-10 18:17] AlexProgrammerDE commented on #160
@diwaffm yes balenaOS supports most WLAN modules. Including all of the Raspberry Pi series. Before downloading the image can you enter the SSID of your WLAN and the password. The Pi will then automaticly connect to the specified WIFI on boot.

[2020-04-11 08:51] marcgarciamarti commented on #86
Hi again, it seems to work. I thought bluetooth didn't work when it actually had to do with the volume defined. I've set it to 100% and disabled multi-room as per my understanding of the post above and it now seems to work well. Many thanks!

[2020-04-11 10:50] wangjunwei87 opened #161 "Is is possible to automatically disconnect old device when pushing stream from a new device with Airplay?"

[2020-04-11 16:42] jakubladra commented on #30
I followed ghost's approach and then ran `run docker run --privileged balena-audio -v /var/run/dbus/system_bus_socket:/host/run/dbus/system_bus_socket` (balena-audio is my name for the built docker image). It seems that I'm failing on running start.sh script:

[code]

Do I have to pass any environment variables that would be used in the entry script?

Is it suppose to make the Raspberry Pi discove

[2020-04-12 09:59] AlexProgrammerDE commented on #160
@diwaffm i will close this issue now. Feel free to reopen if you have more questions about this.

[2020-04-12 09:59] #160 closed

[2020-04-12 10:00] AlexProgrammerDE commented on #155
@rmcburney86 does it work?

[2020-04-12 12:04] andyzasl commented on #82
This helped for me, thanks

[2020-04-12 21:31] rmcburney86 commented on #155
No, I still don't have audio through the HDMI.
I have tried RESIN_HOST_CONFIG_hdmi_mode 2
With and without RESIN_HOST_CONFIG_dtparam "audio=off"
which I found on the DAC Configuration page - https://github.com/balenalabs/balena-sound/blob/master/DAC_configuration.md
But still no luck.
Any of the other DAC settings make sense to try?

[2020-04-13 00:03] rmcburney86 commented on #155
And another oddity.
My Apple devices see the XU4 as an airplay destination, but my android doesn't.
They both can see and play through my AV receiver.

[2020-04-13 07:03] AlexProgrammerDE commented on #155
@rmcburney86 Airplay is a Apple exclusive product. You can try it with Spotify connect if you have premium. I am searching now a solution for the output.

[2020-04-14 17:17] jonrrivera opened #163 "BalenaSound (balenaOS 2.48.0+rev1) not working after installing JustBoom Digi HAT on Raspberry Pi 4 #473"
Hi,

I have been enjoying my BalendaSound with my new Raspberry Pi 4. But when I installed the JustBoom Digi HAT and edited the configuration it suddenly stopped working. The console is outputting some errors, but I really don’t know how to debug them…

Any help would be appreciated thanks!

<img width="1240" alt="Screen Shot 2020-04-14 at 1 03 28 PM" src="https://user-images.githubusercontent.com

[2020-04-14 18:11] AlexProgrammerDE commented on #163
@jonrrivera you used the wrong dtoverlay. Please change `justboom-dac` to `justboom-digi` and report me the result.

[2020-04-14 19:01] jonrrivera commented on #163
that was it! thank you so much!

[2020-04-14 19:01] #163 closed

[2020-04-15 13:33] albertoxamin opened #166 "DAC KeyEye"
I have this [Ks0314 keyestudio ReSpeaker 2-Mic Pi HAT V1.0](https://wiki.keyestudio.com/index.php/Ks0314_keyestudio_ReSpeaker_2-Mic_Pi_HAT_V1.0)

![image](https://user-images.githubusercontent.com/6067659/79342755-cdba0e80-7f2d-11ea-802b-ce07402a7462.png)

Which configuration should I use for `BALENA_HOST_CONFIG_dtoverlay`?

[2020-04-15 14:13] VoxelTek commented on #96
Hi there,
I am unfortunately unable to test out the 32bit version as my Pi is currently unavailable for use. I am working toward getting another, but until then, I am unable to help with this problem.

[2020-04-15 14:16] VoxelTek commented on #96
Also, I believe that the error may have been related to that Pi specifically as strangely, the gpio pins had not been working, no matter what I tried. I ran a test program I found, and it said that none of my pins were burnt out, so that's strange.

[2020-04-16 06:46] syscaday opened #167 "RPi4 audio"
RPi4 when using Airplay, 3.5 mm jack no audio. Bluetooth ok

[2020-04-17 09:26] peteretep commented on #149
I have what seems to be the same problem:
Sony Xperia Compact X
The bluetooth will connect and then disconnect straight away.

[code]

[2020-04-17 11:29] kostasoft commented on #148
Tell me, please, how to disable the built-in bluetooth module and instead connect an external USB dongle? I connected the dongle, probably it was even determined by the system, because the LED on the dongle blinked.
Maybe this will help to solve the problem with sound?

Where are the bluetooth settings in the BalenaOs system? And what needs to be changed?

[2020-04-17 12:53] AlexProgrammerDE commented on #148
@kostasoft your dongle should work without any configuration due to this line:
https://github.com/balenalabs/balena-sound/blob/843db0d0fd661e1b09651897059ed3f211b9ff2c/bluetooth-audio/start.sh#L57

[2020-04-18 15:24] wangjunwei87 opened #168 "How to disable Spotify?"
Buletooth and Airplay are enough for me? How to disable spotify?

[2020-04-18 16:41] capriciousduck commented on #54
I used the "Dockerfile.template" dockerfile, which you can find in the bluetooth-audio, to build my own image. What I did was: I create the directories manually.

Create /var/run/dbus/system_bus_socket manually. Not "/host/run/dbus/system_bus_socket", but "/var/run/dbus/system_bus_socket. Also change the Unix path in the dockerfile.

Mount the "/var/run/dbus/system_bus_socket" of the host to "/var

[2020-04-18 20:40] meechos commented on #96
@VoxelTek same issues unfortunately. Tried both
- Raspberry Pi 3 (using 64bit OS)
- Raspberry Pi 3
 with `balenaOS 2.47.0+rev1`.  Error log below. @tmigone any suggestions on this would be great!

[code]

[2020-04-19 12:20] maximilianschmid commented on #167
same to me.  RPi4 when using Airplay, 3.5 mm jack no audio. Bluetooth ok.

[2020-04-19 17:59] przemmaj opened #169 "rPI 4 no-audio"
**Describe the bug**

After clear install the newest OS version on rPI4 there is no-sound neither from BT, AirPlay, SpotifyConnect. Test on Mac and iPhone.

**To Reproduce**
https://www.balena.io/blog/turn-your-old-speakers-or-hi-fi-into-bluetooth-receivers-using-only-a-raspberry-pi/

**Expected behavior**
Audio

**Screenshots**

**Smartphone (please complete the following information):**
 - Devic

[2020-04-20 01:13] syscaday commented on #167
I solve myself using hdmi_ignore_edid = 1

[2020-04-20 01:13] #167 closed

[2020-04-20 09:41] Inutopia opened #170 "Airplay name does not change"
Running balenosound on a raspberry pi 3b+, I've changed the name using the EV (BLUETOOTH_DEVICE_NAME). This changes the name for bluetooth, but not for the airplay service as suggested in the tutorial. It remains as Balenasound Airplay XXXX. Can anyone help? Appologies if I've just done something stupid!

Many thanks,

[2020-04-20 09:45] AlexProgrammerDE commented on #170
@Inutopia balenaSound supported in the past only Bluetooth. We used this variable set the name of the device, but since we now support Airplay and Spotify this is not correct. We changed BLUETOOTH_DEVICE_NAME to DEVICE_NAME.
We already had this issue i will mark it as a duplicate.

[2020-04-20 09:53] Inutopia commented on #170
Many thanks for the quick reply, and sorry I've posted a duplicate!

I've changed the variable now, and it works perfectly. It might be worth changing the tutorial, located at https://www.balena.io/blog/turn-your-old-speakers-or-hi-fi-into-bluetooth-receivers-using-only-a-raspberry-pi/ as it still references the old variable and suggests it works for all interfaces. Thanks again for the help!

[2020-04-20 09:55] AlexProgrammerDE commented on #170
@Inutopia thats good!
@chrisys could you please update the variable in the tutorial too?

[2020-04-21 18:40] AlexProgrammerDE commented on #169
@przemmaj are you using the 64 bit os. You are maybe facing this issue: #82

[2020-04-21 18:41] AlexProgrammerDE commented on #169
Sorry just realized the issue is about the Pi3

[2020-04-22 09:05] jtagcat commented on #131
Why are there 2 double quotes at the end of the password?

[2020-04-22 09:13] Baryczka commented on #168
You can disable services in balena device dashboard or either comment proper parts in docker-compose.yml. Maybe there are more elegant way to do it but these 2 are straight forward

[2020-04-22 09:18] Baryczka commented on #90
This PR could caused other issue:
https://github.com/balenalabs/balena-sound/issues/131

[2020-04-22 10:11] jtagcat opened #174 "ENV VAR: DISABLE_BLUETOOTH"
**Is your feature request related to a problem? Please describe.**
My Pi doesn't have Bluetooth and the BT service is attempting to run all the time, in my opinion wasting resources.

**Describe the solution you'd like**
Add an env variable, like disable multi room.

**Describe alternatives you've considered**
Removing the BT container.

[2020-04-22 10:41] jtagcat commented on #131
What env variables are you using? Any [default output ones](https://github.com/balenalabs/balena-sound#set-output-volumes)?

I found that removing them magically made it work. I'm also on a non-wireless (no-bt) Pi and I had both set to 10 (CONNECTION_NOTIFY_VOLUME might be BT-only?).

[2020-04-23 02:02] evb-gh commented on #169
I would like to add that I used the latest version of balena `v2.48.0+rev1 (recommended)` as well as `v2.46.1+rev3` and I have the same result as user @przemmaj, no-sound neither from BT, AirPlay, or SpotifyConnect.

[2020-04-23 07:21] AlexProgrammerDE commented on #169
@evb-gh please have a look at this: https://github.com/balenalabs/balena-sound/blob/landr-branch/docs/06-troubleshooting.md#usb-soundcard
And this issue: https://github.com/balenalabs/balena-sound/issues/9

[2020-04-23 11:11] jtagcat commented on #26
Raspberry Pi Model B Rev 2, every time the audio skips, I get:
`23.04.20 11:01:23 (+0000)  spotify  ALSA lib pcm.c:8424:(snd_pcm_recover) underrun occurred`.

Removing bluetooth seems to help a lot (there is no bt on my device), lowering bitrate with `--bitrate 320` in spotify/start.sh to the [documented](https://github.com/librespot-org/librespot/wiki/Options) 160 seems to resolve all issues.

I

[2020-04-26 23:08] BitForger commented on #131
I was setting the output volume to 100.

[2020-04-27 13:26] JinJin-o opened #176 "Please add additional input methods"
First, English is not my native language
However, I will try my best with Google Translator.

First, I'm teaching students at elemaentary school.
I found the balena sound and it was very interesting and I tested it with raspberry pis at school for test.

The test was very impressive, and it was amazing that the network alone could do this.

I thought it could be good to use it right at the educati

[2020-04-27 13:43] AlexProgrammerDE commented on #176
@JinJin-o i didnt understand everything. But it seems like you had some delay from the multiroom. We use the software Snapcast to sync the sound over the nerwork, but it causes a delay in sound. You can deactivate it with the enviroment variable `DISABLE_MULTI_ROOM` you have to set it to `true`. Please give me your experience with the sound after that.

[2020-04-28 09:35] JinJin-o commented on #176
Ah I guess I misunderstood the function. I want to place at least two balena sound modules in the back corners of the classroom. In that case, I was asking about the delay between the video source on the front TV or the contents of the microphone spoken by the teacher and the sound from the speaker on the back.

[2020-04-29 02:33] cloutier72 commented on #64
This Project is a major disappointment. I use an inexpensive Bluetooth adapter to connect a “Peloton” bike to an older Bose wave radio. The adapter “forgets” the pairing settings, leading me to have to reconnect the two.
I thought that a raspberry pi 4 would offer some stability. Wrong... it qwas even worse. The peloton/raspberry pi handshake actually froze the peloton app.

Same thing for YouTube

[2020-04-29 09:04] AlexProgrammerDE commented on #118
No activity. Closing.

[2020-04-29 09:04] #118 closed

[2020-04-29 14:57] tmigone commented on #62
Quick update on this topic...
This [issue](https://github.com/balena-os/balena-raspberrypi/issues/476) is tracking progress on a solution to the stuttering problems.

[2020-04-29 15:50] tmigone commented on #174
Hi @jtagcat, what Pi do you have?

[2020-04-29 16:08] AlexProgrammerDE commented on #174
@tmigone maybe Pi 1/2 and no dongle.

[2020-04-30 16:06] AlexProgrammerDE commented on #174
@jtagcat please just remove the bluetooth-audio entry in the docker-compose.yml file.

[2020-04-30 20:25] AlexProgrammerDE commented on #176
@tmigone are there any options for synchronous audio and instant audio?

[2020-04-30 22:59] isteaks opened #180 "USB Audio and DAC X400"
I have a USB audio class device connected to my Raspberry pi that is mapped on HW:0 and My DAC is mapped on HW:1. I want to play music using my DAC on HW:1. I was able to do it on the bluetooth service playing with a .asoundrc but how can I change the default audio playback device on Airplay and the other sercices?

Thanks.

[2020-05-01 10:06] sradevski opened #181 "Allow toggling multi room flag more seamlessly"
Feedback/request from a user:

 Is there a more elegant way to achieve this than going into the settings and adding or removing the DISABLE_MULTI_ROOM command every time I would like to switch between local and multiroom playback?

This will require having some simple UI I guess

[2020-05-01 11:35] AlexProgrammerDE commented on #181
This could be accomplished, by setting the master ip to `localhost`. Just needs some way to force the server.

[2020-05-01 11:36] AlexProgrammerDE commented on #180
@isteaks you are not using multiroom?

[2020-05-01 11:46] AlexProgrammerDE commented on #166
@albertoxamin can you please try this value: `i2s-mmap`?

[2020-05-01 18:58] AlexProgrammerDE commented on #169
@przemmaj i wish i could help you, but without more information is helping not possible. I will close this issue for now. Feel free to reopen if you have more information. You can try also the suggestion from this comment: https://github.com/balenalabs/balena-sound/issues/169#issuecomment-618132680

[2020-05-01 18:58] #169 closed

[2020-05-01 22:43] Aulos opened #182 "Fleet publisher/subscriber toggling every few seconds"
I have newly deployed setup and it's going online/offlie every few seconds:
[code]

These are logs from Raspberry 3 server instance.

[2020-05-02 08:03] AlexProgrammerDE commented on #182
@tmigone you coded the fleet supervisor. Can you help Aulos?

[2020-05-02 08:08] AlexProgrammerDE commented on #9
We included in the new documentation all tips from this issue. You can check it out here: https://landr-balenalabs-repo-balena-sound.netlify.app/docs/troubleshooting#no-audio . Closing

[2020-05-02 08:08] #9 closed

[2020-05-02 08:11] AlexProgrammerDE commented on #106
All fixes are included in the troubleshooting: https://landr-balenalabs-repo-balena-sound.netlify.app/docs/troubleshooting/ Closing.

[2020-05-02 08:11] #106 closed

[2020-05-02 08:12] AlexProgrammerDE commented on #79
All fixes are included in the troubleshooting: https://landr-balenalabs-repo-balena-sound.netlify.app/docs/troubleshooting/ Closing.

[2020-05-02 12:06] AlexProgrammerDE commented on #168
@wangjunwei87 Baryczka is right. We recommend deleting the spotify entry in the docker-compose.yml file. Closing.

[2020-05-02 12:06] #168 closed

[2020-05-02 13:58] wangjunwei87 commented on #168
@Baryczka @AlexProgrammerDE Yes,  it will work, but everytime balena-sound updates, I will have to do it again. Is it possible to add some env variable like `DISALBE_MULTI_ROOM` (eg: `DISABLE_SPOTIFY` ) to disable spotify?

[2020-05-03 14:54] deadlyjinx commented on #47
Thank you! I was using version v2.47.0+rev1 (recommended) on a Raspberry Pi 3 and had the same problems. Installing version 2.38.0+rev1 fixed all the isues.

[2020-05-03 18:28] klausagnoletti commented on #181
Why not do it more Sonos-style by adding ‘zones’, with in practice is device groups which each can be played to individually. To use this, each zone would be its own BT device or Airplay/Spotify Connect device. Dunno if this is possible but surely would be nice.

[2020-05-03 19:17] ptruka opened #185 "Bluetooth audio delay on RPi4"
**Describe the problem**
Hello, I'm using balena-sound on my RPi4 together with Hifiberry DIGI+ PRO.  The audio quality is pretty good but I'm having an delay between the player (Windows 10 Laptop) and the Audio of about 1-2 seconds. I set the Variable DISABLE_MULTI_ROOM = 1 and rebootet the device.

**To Reproduce**
Multi-room audio is disabled

**Device information**
 - Board (hardware info): Ra

[2020-05-03 19:20] AlexProgrammerDE commented on #185
@ptruka deleting `--pcm-buffer-time=1000000` could decrease the delay:
https://github.com/balenalabs/balena-sound/blob/9238f37c31a22626c1019983bc8efe9189f220ef/bluetooth-audio/start.sh#L79

[2020-05-04 13:07] ptruka commented on #185
@AlexProgrammerDE Thanks for the quick response.
I found a lot of "start.sh" on the system (find / -name "start.sh"). What is the right way to make the change? many thanks in advance

[2020-05-04 13:09] AlexProgrammerDE commented on #185
@ptruka you need to edit the start.sh file in the bluetooth-audio directory.

[2020-05-04 13:45] ptruka commented on #185
@AlexProgrammerDE Thank you very much. I just pushed it with the modified start.sh.
The delay is noticeably shorter now! Videos are not lipsync, but now delay is about 200 ms.

[2020-05-04 20:02] atulwadh1 commented on #182
I also have a new setup with RPi4 and have the same issue. I see the fleet supervisor service go offline and online. The music plays seamlessly on the speaker cinnected to the RPi4 bluetooth. The other rooms cut off.

[2020-05-05 07:52] Aulos commented on #182
I "solved" my problem by "turning-off-and-on-again"ing fleet service many times. I think it may be a problem with pub/sub lib.

[2020-05-05 13:17] atulwadh1 commented on #182
@Aulos Good to hear It solved your problem but my problem still remains. I have stopped and started the service multiple times but it just does not stop going offline and then online

[2020-05-05 13:53] #185 closed

[2020-05-06 12:19] AlexProgrammerDE commented on #181
@klausagnoletti i think zones will be implemented by this PR: #153

[2020-05-07 13:01] #134 closed

[2020-05-07 13:02] peteretep commented on #134
sorry my bad, was using a custom docker compose file and forgot to update it.

[2020-05-07 16:13] Lootwig opened #187 "Configuring Mono output with a hifiberry DAC+"
I built a mono speaker using an RPi 3B+ & hifiberry DAC+.

Following the advice from https://www.hifiberry.com/docs/software/dual-mono-setup/ and creating an asound.conf in /etc/ does not have any impact, at least on playback using spotify. Is there a way to configure the system to merge stereo channels into the right channel (or just left & right simultaneously, I don't care about what happens on

[2020-05-08 14:13] nebbles opened #188 "Configure groups that are published as a targetable wireless speaker"
# Problem

I've been looking into multi-room and noticed BalenaSound has recently achieved this at a basic level. I can also see that #181 requests some easier control of multi-room ability and #153 is attempting to implement support for a controller.

I am dubious however of the effectiveness of roping in an extra system, and instead would like to expand configurability a bit more without the nee

[2020-05-08 14:50] AlexProgrammerDE commented on #188
@nebbles i think this would be a big feature to implement. We need multiple UI's for creating and managing groups, new code for the fleet-supervisor and maybe android/ios apps. @tmigone when i said we need a dashboard i had this case in mind. [python-snapcast](https://github.com/happyleavesaoc/python-snapcast) and code from [snapcastr](https://github.com/xkonni/snapcastr) could help us to achieve

[2020-05-08 15:12] nebbles commented on #188
Generally my thought had been to avoid the UIs - the groups would be configured once at setup time through environment variables.

As I should have expected, I only realised that this posed a potential problem when it came to variable volume control per room. Then again, if you sacrifice that in favour of synchronised volume value you cut the need for UIs.

[2020-05-08 15:49] AlexProgrammerDE commented on #188
@nebbles the problem i see is that if a company want's to create a fleet of balenaSound devices no user would have access to the balena cloud dashboard. Using UI's would be more work for the team, but i think your solution won't work for tech companies.

[2020-05-08 17:52] nebbles commented on #188
That’s true, end users streaming to the speaker wouldn’t have direct configuration of the groups.

The intention with this was really a ‘one time config’ where speaker groups aren’t intended to change often.

[2020-05-08 20:30] finnje opened #189 "Google home support for playback and groups"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-08 20:38] AlexProgrammerDE commented on #189
@finnje please take a look at #102 . I think that is what you are searching for. And please fill in the form and don't use the title as the whole explenation next time you submit a issue on github.

[2020-05-10 22:04] samaero opened #190 "Support for Audioquest Dragonfly Red DAC"
As noted in the DACs documentation, this USB DAC isn't listed under the supported devices, so I'm adding an issue here to see if adding support would be possible. Happy to help test if needed. Thank you!

[2020-05-11 07:51] AlexProgrammerDE commented on #190
@samaero the list includes only GPIO Dac's. We define your DAC as a USB Soundcard. You can read more about setting the card up here: https://landr-balenalabs-repo-balena-sound.netlify.app/docs/troubleshooting/#no-audio

[2020-05-11 10:16] #189 closed

[2020-05-11 10:42] AlexProgrammerDE commented on #121
@bphermansson i will close your issue for now. Without more information we are not able to resolve this issue.

[2020-05-17 17:48] devdelay opened #193 "Change sample rate per device"
I can't seem to find where to change the sample output of each device manually. I would like to change this from 44.1kHz to at least 48kHz but I have DAC that support higher sample rates

Not sure if an environment variable is appropriate to set by device or globally.

[2020-05-19 14:43] rlndwgnr opened #194 "Change default sound card"
I have two soundcards connected to my pi3 one usb soundcard(hw0) and one justboom amp (hw1).

I would like to change the default output to the amp.

I tried doing so by adding

"defaults.pcm.card 1
defaults.ctl.card 1"

to  /etc/asound.conf (apparently i have to create the file seperately for bluetooth, spotify and airplay) wich worked.
Problem is, the files get deleted after each restart. I also

[2020-05-19 15:04] #194 closed, assigned to nobody

[2020-05-19 15:22] tmigone opened #195 "Provide a way of physically changing volume"
**Is your feature request related to a problem? Please describe.**
There is currently no way of physically changing volume. The only way of doing it is through the environment variable `SYSTEM_OUTPUT_VOLUME` which requires dashboard access and triggers service restarts.

**Describe the solution you'd like**
Ability to control master volume by using a rotary encoder/knob via GPIO.

**Additional con

[2020-05-19 15:34] AlexProgrammerDE commented on #195
@tmigone i already use some GPIO volume  changing code in my bluetooth-control PR. Shall i try to implement that globally?

[2020-05-19 16:39] tmigone commented on #195
@AlexProgrammerDE, yes and no 😆 Let me share a bit of context...

We are discussing internally what the next major version of sound will look like. One of the main goals we have is to try and decouple the audio sources from the features. This means that we want to be able to add a new audio source (stream audio from X service) and instantly benefit from all the existing features (GPIO control, vol

[2020-05-20 21:41] densmtl opened #196 "Disable bluetooth-audio service by setting a variable"
**Description**
I have BalenaSound running on an RPi 2 that does not have bluetooth, When I restart the device, the bluetooth-audio service keeps failing to start and loops. I have to stop it manually via the web portal every time.

**Potential Solution**
Implement a way to prevent the service from starting by setting a variable (like the variable DISABLE_MULTI_ROOM to prevent the fleet-supervisor

[2020-05-21 01:33] samaero commented on #190
@AlexProgrammerDE Thank you! I was able to get BalenaSound to output through the Dragonfly by simply disabling onboard audio, and everything's working fine. This DAC is capable of outputting 24bit/96KHz audio, but I couldn't find anything in the docs about setting specifying custom bit/sample rates. Do you know if this is possible? Thanks!

[2020-05-22 12:39] martino-dot opened #197 "Volume Control for invidividual zones"
**Is your feature request related to a problem? Please describe.**
I would like when I'm playing to all my zones that I can have a volume control for each zone.

**Describe the solution you'd like**
Simple volume slider for each device.

**Describe alternatives you've considered**
I know that you can connect to an individual device and control the volume through your phone or connecting to all the

[2020-05-23 20:54] BGMine13 opened #198 "USB Sound Card"
Hi !

My Raspberry Pi 3 B+ internal jack doesn't work, so I used a USB Sound Card before, and it worked (I was not using balenaSound). Now that I have balenaSound installed and running, functioning etc, I need my sound to go out whit my USB Sound Card.

BGMine 13

[2020-05-25 16:22] martino-dot commented on #198
I think issue #9 has an answer to your question.

[2020-05-26 13:22] tmigone commented on #198
Hey @BGMine13, unfortunately USB sound cards are not supported yet in balenaSound.

Some users have contributed work regarding it though, you can check it and might get it working. Check out this links:
- https://sound.balenalabs.io/docs/troubleshooting/#no-audio
- https://github.com/balenalabs/balena-sound/pull/192

[2020-05-26 13:22] #198 closed

[2020-05-27 21:19] thecatman11 opened #203 "Push audio through usb."
I am a noob at this and have a rpi zero w and it's running balena sound but I what to make the audio be be forced out of micro usb, is there a way to do this with a variable?

[2020-05-30 14:01] mcohen75 commented on #203
I was able to get this to work by disabling onboard audio.

Under Device Configuration for the device in question, edit DT parameters and set audio to off instead of on. I think you could probably also just remove the audio param.

[2020-05-30 16:56] jholster commented on #133
Parametric EQ support would be superb!

[2020-06-01 11:19] dkjsj commented on #188
I somehow had the same challenge. Right now - I've have modified the scripts - so forceing all SnapCastClients to the same SnapCastServer - and then AirPlay/Bluetooth is enabled on each SnapCastClient. The SnapCastServer has also AirPlay enabled.

Then I can choose to stream with AirPlay to the SnapCastServer which will start muti-room stream to all Clients.

Or I can just choose to Bluetooth/AirP

[2020-06-01 21:02] dextor commented on #96
@tmigone switching to the 32bit version fixed this issue for me on a pi 3B

[2020-06-01 21:03] dextor commented on #96
@tmigone switching to the 32bit version fixed this issue for me

[2020-06-03 01:41] pthorntonharvard opened #204 "Add DAC support for device not listed"
Hi Good folks of this project,

I can't seem to get the DAC i recently purchased to work, and don't actually see the model listed on supported DACS either, it is a Waveshare WM8960 board.

https://www.amazon.com/Waveshare-WM8960-HAT-Recording-Interface/dp/B07KFXJXB4

Thanks! Loving this project, up to now building and deploying has been a breeze, and the out of the box pi 3b DAC isn't even that ba

[2020-06-03 03:14] gbotrel opened #205 "Add support for Khadas tone board DAC"
Using Volumio for now, without bluetooth support and no multi-room -- wanted to try with the Khadas tone board, will it work?

[2020-06-03 07:19] AlexProgrammerDE commented on #204
@pthorntonharvard can you try it with this value please? `wm8960` (Got it from here: https://github.com/pguyot/wm8960)

[2020-06-03 07:28] AlexProgrammerDE commented on #205
@gbotrel ok that looks like some high end gear. It looked like its a USB soundcard which can get powered over GPIO. Right? We made a collection of ways to configurate USB soundcards here: https://sound.balenalabs.io/docs/troubleshooting/#no-audio

[2020-06-03 23:27] pthorntonharvard commented on #204
@AlexProgrammerDE Thanks for the link and suggestion, unfortunately still didn't work.

Additional trouble shooting i attempted from looking at other posts: adding ",unmute_amp" to the end of the value e.g. (wm8960,unmute_amp).

I also tried setting the SYSTEM_OUTPUT_VOLUME to 100.

Finally, there was another dtoverlay value listed in the link you provided, and I tried dtoverlay=i2s-mmap, which di

[2020-06-04 04:29] AlexProgrammerDE commented on #204
@pthorntonharvard you have set audio to false?

[2020-06-04 04:32] pthorntonharvard commented on #204
@AlexProgrammerDE yes

[2020-06-04 04:41] AlexProgrammerDE commented on #204
Ok. Have you ever tested the DAC outside of balenaOS?

[2020-06-04 05:29] Sharpey79 opened #206 "Connect a bluetooth transmitter to balenasound pi3b?"
Forgive me if this sounds very obvious, but am wondering if the following would be feasible...

I want to stream my vinyl records in a mutliroom setup.

Turntable is connected to an amp with a phono pre-amp and a tape out RCA

If I connect a Bluetooth transmitter to the tape out RCA on the amp, I should be able to transmit the analogue signal over Bluetooth

My question is how would I pair the pi3

[2020-06-04 13:28] tmigone commented on #206
Hi @Sharpey79, balenaSound relies on the devices that connect to it to establish the bluetooth connection (i.e: choose the appropriate balenaSound bluetooth device, enter PIN code if required, etc). This works the same way it would if you had a bluetooth speaker: the speaker creates the bluetooth connection for others to connect to.

I'm curious about this bluetooth transmitter, it should have cap

[2020-06-04 13:32] tmigone commented on #205
Agree, that's a nice looking board.

I don't think it would work as the main board running balenaSound since it most likely won't run balenaOS without customising the OS. The board is not on the list of our currently supported boards (https://www.balena.io/docs/reference/hardware/devices/) and there is an open issue to add support for it (https://github.com/balena-os/resin-os-device-support/issues

[2020-06-04 13:39] #139 closed

[2020-06-04 19:08] pthorntonharvard commented on #204
@AlexProgrammerDE I haven't but fair point.  I have a spare pi i can test with. thanks, ill give you an update when i have one.

[2020-06-05 04:28] Sharpey79 commented on #206
Hey, thanks for your reply.  I was thinking of one of the miccus products... the one I'm linking to here works with the headphone jack..   Do you reckon it would work?

https://cdn.shopify.com/s/files/1/0019/0486/9449/files/Swivel_Jack_User_Manual-120118.pdf?93

Thanks for taking the time. I do appreciate it!

[2020-06-05 12:42] gtihubuser opened #208 "Spotify Initial Volume"
### Spotify connect uses the 'SYSTEM_OUTPUT_VOLUME' variable as initial volume.
If this volume is set to 100% it means that when i connect to Spotify-connect, my naeghbours and family members are blown away :). (I am using a raspberry pi 3's with Hifi Berry Amp).

If I set the SYSTEM_OUTPUT_VOLUME to like 25%, the maximum volume for the soundcard is set to 25% but Spotify also drops down to 25%. w

[2020-06-05 12:46] AlexProgrammerDE commented on #208
@gtihubuser you could have achieved this too by setting System output volume for each service via the the device service variable tab. I think we have to  larify for every user that this is a option.

[2020-06-05 13:39] gtihubuser commented on #208
Oh. I did not know that. I'll play with this right away :)
Thanx @AlexProgrammerDE

So the SYSTEM_OUTPUT_VOLUME in the _Device Variables_ if for the 'soundcard'?
And the SYSTEM_OUTOUT_VOLUME ind the _Device Service Varibles_ Is for the specific 'Service'. Nice :D
Like this i guess:
![image](https://user-images.githubusercontent.com/18218998/83882134-f6969d00-a741-11ea-858c-a74521efed4e.png)

Yeah,

[2020-06-05 13:51] AlexProgrammerDE commented on #208
Yeah its like that. Device variable sets it for every service and service variables for every service individually. I will make later a PR which adds it to the documentation.

[2020-06-05 14:06] gtihubuser commented on #208
Great!
I think we can close this one then?

[2020-06-05 14:07] AlexProgrammerDE commented on #208
I will open a PR and link it with this issue. It closes it automaticly when its merged.

[2020-06-05 16:11] tmigone commented on #206
Hi, I'm checking the manual for the Swivel and it doesn't appear to allow headless connections, you need the other device to initiate the connection. This unfortunately wont work with balenaSound as it will also expect the other device to initiate the connection. We could theoretically add a UI sort of interface to allow this but it's quite outside the scope of this project unfortunately.

As an a

[2020-06-05 16:13] AlexProgrammerDE commented on #206
@tmigone wouldnt bluetoothctl work? He Sharpey access to the terminal.

[2020-06-05 16:18] tmigone commented on #206
Yes I think with bluetoothctl it could be done. But it would require user input for sure (to run the commands, identify the target connection, and pair with it, basically everything you do with your phone but on the device).

Unless I'm missing something I don't see how we could achieve this to be done automatically and in a generic way. If you have any ideas we can try!

[2020-06-05 16:19] AlexProgrammerDE commented on #206
@tmigone didnt you implement auto reconnection?

[2020-06-05 16:31] tmigone commented on #206
Yep, but I don't think it helps here. My main concern is how do you tell balenaSound which bluetooth it should connect to initially?

Usually you have the device (smartphone) telling balenaSound that it wants to connect via bluetooth. balenaSound only accepts the connection.

Here the Swivel thing can't tell balenaSound that it wants to connect because it has no physical interface to do so. So bal

[2020-06-05 16:36] AlexProgrammerDE commented on #206
Yes. Deleting some lines of code and setting the bluetooth reconnect volume to the mac of the Swivel would get it reconnecting to the Swivel on every boot.
1. Deleting some lines and paring once via terminal
2. Get the mac adress of the Swivel (We can use nano to edit the reconnect entry)

[2020-06-05 17:03] tmigone commented on #206
For point 1, the fact that you depend on pairing via terminal once is what I don't like too much as it's not very user friendly. But you are right that it could work. If you want to give it a shot when you have free cycles let's do it! Probably hard to test since you won't have the Swivel, but if @Sharpey79 also helps you guys could make it work!

[2020-06-05 17:35] jtagcat opened #209 "DeviceSupport.md has poofed"
https://sound.balenalabs.io/docs/DeviceSupport.md 404

[2020-06-05 17:56] tmigone commented on #209
Hey @jtagcat thanks for reporting it. We fixed this but haven't deployed yet.

The correct URL in case you want to check it is: https://sound.balenalabs.io/docs/supported-devices/

[2020-06-06 02:54] Kore-Development opened #210 "Disable Bluetooth ding"
**Is your feature request related to a problem? Please describe.**
A way to disable the Bluetooth ding when connecting and disconnecting.

**Describe the solution you'd like**
Maybe an environment variable like how you would change the device name.

**Describe alternatives you've considered**

**Additional context**

[2020-06-06 05:47] AlexProgrammerDE commented on #210
Just set `CONNECTION_NOTIFY_VOLUME` to 0.

[2020-06-06 10:20] Sharpey79 commented on #206
Yeah, I'd need to buy the swivel first, which I'm happy to do since I can use it with Bluetooth speakers as a backup.

[2020-06-06 10:22] Sharpey79 commented on #206
Also, yes I could just connect the preamp to the pi 3.5 jack... But will balena sound broadcast the signal to other pi units in a multiroom setup? My assumption was that balena sound was only configured to do audio out via the 3.5jack.

[2020-06-06 10:22] Sharpey79 commented on #206
Also, thanks guys. Really appreciate your help.

[2020-06-06 21:52] jtagcat commented on #209
The notes (numbered 1-4) appear as links. They are not. It would be nice, if it could be 'show-on-hover'.

[2020-06-08 13:08] tmigone opened #211 "Snapcast client not starting with error "missing argument for --latency""
**Describe the problem**

Snapcast client not starting after deploying with no customization. Error below:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy latest balenaSound

**Expected behavior**
Snapcast client should start.

[2020-06-08 13:16] #211 closed

[2020-06-08 13:49] tmigone opened #213 "docs: better address privacy concerns"
See https://app.frontapp.com/open/msg_cm8i5sd

[2020-06-09 13:27] VincentChalnot commented on #196
I'll also be interested by this feature as the bluetooth seems to impact on spotify performances.

[2020-06-09 15:34] zaggash commented on #196
Or you can remove the Bluetooth part from the docker-compose.
Just remove :
[code]
and delete the folder `bluetooth-audio/`

The push a new version of your app :)

[2020-06-11 13:39] tommfy opened #214 "Support for Pirate Audio DAC LCD"
I've got a Pimoroni Pirate Audio 3W Stereo Amp (https://shop.pimoroni.com/products/pirate-audio-3w-stereo-amp) and have decided to switch over from the provided software (Pirate Audio/Mopidy) to BalenaSound as the Spotify Connect feature is fab for my reconditioned radio project and see much improved boot times. The DAC itself works flawlessly on BalenaSound at the moment thanks to your previous i

[2020-06-12 12:07] shaunmulligan opened #215 "Add support for Mopidy"
**Describe the solution you'd like**
It would be great if we could add a [Mopidy](https://mopidy.com/) container that can be used and shared to all the rooms, with the ability to mount a USB drive with audio on it.

[2020-06-12 15:01] AlexProgrammerDE opened #216 "Deploy button doesnt work"
**Describe the problem**
When i click on the button i only get to the fleet page and nothing happens.

**Expected behavior**
Seeing a deploy interafce.

**Additional context**
How can i prefill the repo URL with help of the URL?

[2020-06-15 13:29] tmigone commented on #210
Closing as the solution is what Alex proposed.

[2020-06-15 13:29] #210 closed

[2020-06-15 13:46] tmigone commented on #209
Hey thanks again for the suggestion. Show on hover would be nice though it's not possible at the moment since the stack combo (GitHub markdown + landr) we use to generate the pages does not allow for something like that. I will merge a PR soon to at least remove the link aspect those items have. Thanks.

[2020-06-15 13:50] tmigone commented on #196
The correct way of removing bluetooth from the application is what @zaggash explained above. Note that you don't need to delete the `bluetooth-audio` folder, deleting the `bluetooth-audio` lines from the `docker-compose.yml` file before pushing the app will do.

Also, note that the bluetooth container should not be interfering at all with spotify or airplay performance.

[2020-06-15 13:50] #196 closed

[2020-06-15 13:52] tmigone commented on #214
Hey @tommfy glad it worked! I'm curious, did you use the `hifiberry-dac` dtoverlay or a different one?
About the LCD, yes! I'm planning on getting one of this in the near future, so hopefully we can add support for that!

[2020-06-15 13:55] tmigone commented on #216
hey @AlexProgrammerDE can you try this again? I just tried both from GitHub and landr page and it seems to work. Maybe there was a problem when you tried but now it's solved?

[2020-06-15 14:02] AlexProgrammerDE commented on #216
@tmigone yes i just tested it again. Works great.

[2020-06-15 14:02] #216 closed

[2020-06-15 14:24] tommfy commented on #214
It's a great alternative to the Pirate-Audio Mopidy front-end! That's right, I just used the standard `hifiberry-dac` dtoverlay as mentioned in your docs (https://sound.balenalabs.io/docs/dac-configuration/).

That's great to hear about the LCD, that would be killer - looking forward to seeing it whenever you get your hands on one!

[2020-06-15 14:24] #214 closed

[2020-06-15 16:12] twjholland opened #219 "Pair-able but not connecting"
Hello

Firstly - I followed the steps on [the forum](https://forums.balena.io/t/can-t-find-my-device-when-searching-for-bluetooth-devices/36266/32); and it allowed me to pair the device as it wasn't discoverable already. I also had to set ```bluetoothctl discoverable-timeout -1``` to keep it always discoverable.
My problem arises when I try to **connect** (I can pair okay) to it using my Samsung p

[2020-06-15 16:43] jtagcat commented on #209
I guess can be closed as wontfix for now.

[2020-06-15 16:43] #209 closed

[2020-06-16 08:06] chrisys opened #220 "Disable multi-room server for Pi 2"
In the docs we say that multi-room server functionality is disabled for the Pi 2, but in reality it isn't. It looks like performance is too low on this device for it to work reliably.

[2020-06-16 19:44] marrobHD opened #221 "Authentication failed with reason: BadCredentials"
I checked the credentials are correct. I logged successfully in Spotify web.
[code]

[2020-06-16 20:15] VincentChalnot commented on #17
Same problem here, I can bind my linux laptop to the RPi 3A+ but no sound is played with the very same error.
I've never experienced any problem with this machine before, I think it might be related to the bluetooth "codec" used on the PC : High Fidelity A2DP Sink ?

[2020-06-16 20:17] VincentChalnot commented on #17
It's definitely linked to this issue: https://github.com/Arkq/bluez-alsa/issues/13

[2020-06-18 11:40] jackstirzaker opened #222 "Error building"
I am building from balena CLI on my Windows laptop and trying to put it on a Raspberry Pi 3. During the build, the CLI says:
`[Error]             An error occured: (HTTP code 404) no such image - no such image: 94d74402d54b: No such image: 94d74402d54b:latest `

[2020-06-18 12:00] AlexProgrammerDE commented on #222
I had the same issue some time ago. You might have resolved it by trying it again. @tmigone do you have a idea why this occurs sometimes? Is this a issue with balena builders or is it a client side thing?

[2020-06-18 12:17] jackstirzaker commented on #222
I am currently trying to build it again.

[2020-06-18 12:19] jackstirzaker commented on #222
The build has succeeded.

[2020-06-18 16:30] AlexProgrammerDE commented on #221
Same as: #131

[2020-06-18 16:30] #221 closed

[2020-06-18 16:37] AlexProgrammerDE commented on #131
@marrobHD read the comments before telling there wasnt found a fix: https://github.com/balenalabs/balena-sound/issues/131#issuecomment-609097555

[2020-06-18 23:05] soinkleined opened #223 "Add support for forked-daapd for multiroom support to existing airplay devices"
**Is your feature request related to a problem? Please describe.**
Do not want to use snapcast for multiroom as I have many airplay speakers already.

**Describe the solution you'd like**
Use forked-daapd to stream to existing airplay receivers including support for a web interface to toggle airplay speakers and adjust individual and global volume.

**Describe alternatives you've considered**
node

[2020-06-19 16:26] tmigone commented on #222
Hey @jackstirzaker @AlexProgrammerDE, this is indeed a temporary issue with our builders. Retrying the build will solve the problem as you suggested.

[2020-06-19 16:26] #222 closed

[2020-06-20 02:14] BitForger commented on #131
The fix is kinda complicated.. I just made some tweaks to get it to work for me...

You can check out what I did here: https://github.com/BitForger/balena-sound

[2020-06-22 13:07] RJStevenson opened #224 "spotify not working"
I installed balena on my raspberry pi zeri w.
I got the Bluetooth to work by going in the /usr/share/alsa/alsa.conf
and changing the defualts.ctl.card and defaults.pcm.card
value to match that of my USB to 3.5mm jack.
but the same fix is not working for Spotify. I can see the device in Spotify and can connect to it but unable to play audio. as soon as I play audio it disconnects

[2020-06-22 13:12] RJStevenson commented on #224
these are the error logs in the terminal

22.06.20 15:10:53 (+0200)  spotify  [2020-06-22T13:10:53Z INFO  librespot_playback::player] <Doin' it Right (feat. Panda Bear)> loaded
22.06.20 15:10:54 (+0200)  snapcast-client  2020-06-22 13-10-54 [Error] (worker) Exception in Controller::worker(): connect: Connection refused
22.06.20 15:10:54 (+0200)  snapcast-client  2020-06-22 13-10-54 [Error] (stop)

[2020-06-22 21:15] fbacker opened #225 "Multiroom adjust volume on each device"
**Is your feature request related to a problem? Please describe.**
Multiroom with Spotify I need one device to have volume 30 and another 80 for them to match. This because the connected output on each device is different. DAC, HDMI or 3.5mm jack.

**Describe the solution you'd like**
Set custom audio variable on each device that will 'cap' the volume. e.g. ```SYSTEM_LIMIT_VOLUME 30```.

When devi

[2020-06-24 08:47] anujdeshpande opened #227 "Have a screensaver for audio over HDMI setups"
**Is your feature request related to a problem? Please describe.**
It would be nice to add a moving screensaver so that we don't have screen burn in for setups that have audio over HDMI

See forum post - https://forums.balena.io/t/142744
JF thread - https://jel.ly.fish/5edd4bf1-3aa5-4602-984d-09140d935061

[2020-06-24 15:10] EliseoCesco commented on #166
I also have this card, I see that the 3.5mm jack input has 4 pins, can I also use headphones / earphones? Or use the microphone built into the earphones? and how eventually? THANK YOU

[2020-06-24 16:07] frederickjansen commented on #225
Duplicate of #197

[2020-06-25 13:52] tmigone commented on #166
Hey @EliseoCesco, mics are not supported in balenaSound. Can I ask what would be the use case?

[2020-06-25 19:26] lundbergj opened #228 "Amazon Echo/Alexa Integration"
Huge fan of the project. I've seen others pose the question, but there doesn't seem to be a clear answer. Can balena-sound be used by Amazon Echo/Alexa devices to leverage multi-room? I've seen suggestions that by adding a docker for Alexa it could be integrated, but that seems like mostly in theory. Curious if there's been any thought given to allowing it to function like a wifi-speaker for integ

[2020-06-25 19:38] tmigone commented on #228
Hi @lundbergj, project maintainer here.
We haven't done any real assessment or tests as to wether it's feasible to have this integration. I've seen one or two times people asking for this in our forums, but no significant progress really. I know `AlexaPi` is no longer under active development, but i've seen a few other alternatives. It's definitely something that we would like to add to the projec

[2020-06-28 20:20] matthewcassini opened #229 "Doesnt play sound when connected"
Installed Balena sound on Raspberry Pi 3. Tried connecting via Bluetooth, Airplay, and Spotify Connect. The music "plays" and says it is connected but does not make any sound when connected to speaker.

[2020-06-29 12:36] tmigone commented on #229
Hello @matthewcassini, are you using 32 bit or 64 bit version of balenaOS? If you are on 64 bits, you are probably hitting this bug: https://sound.balenalabs.io/docs/troubleshooting#no-audio-when-using-balena-os-64-bit-on-raspberry-pi-3-s

[2020-07-02 08:33] ejannett opened #230 "deploy failed for snapcast-client and snapcast-server"
Hi,
Cannot deploy balenaSound due to build failure  on snapcast-server and snapcast-client

**To Reproduce**
1. git clone https://github.com/balenalabs/balena-sound.git
2. balena push _appname_
3. error raised as wget is failing on wrong URL
[code]

**Device information**
 - Board (hardware info): Raspberry zerow
 - Device type (as seen in balenaCloud): Raspberry Pi (v1 / Zero / Zero W)
 - balenaO

[2020-07-06 19:55] captain-raccoon opened #232 "Services not running"
Hello,

I was able to flash the SD-Card and get my Pi on with the belena cloud, but when I look at the pi I do not see any of the services running as specified in the setup guide.

I followed the guide up until that point and I am stuck.  I provisioned both as a production and development edition.  Version number was balenaOS 2.48.0+rev1.  I am using a Raspberry Pi 2 Model B.  I do know that the P

[2020-07-07 05:33] AlexProgrammerDE commented on #232
@captain-raccoon it seems like you didn't push the code to balena cloud.

[2020-07-07 21:51] captain-raccoon commented on #232
Ah I see.  I was just following the guide and I didn't see that as a step.  But this does make sense.  I was under the assumption that when you flashed the SD Card that the OS contained everything.  Thank you for pointing me in the right direction!

[2020-07-07 21:51] #232 closed

[2020-07-10 03:35] Iamnihc opened #233 "way to get "now playing" data for other projects"
Although many people have suggested adding a gui to balenaSound, I have a different idea for an improvement that could lead to this. have some (documented) way to get information about what the device is doing at the moment, and possibly a way to change it. Some useful information would be:
Connection type (airplay/spotify/bluetooth)
Song/track name (ex: Never gonna give you up)
Song artist (ex: r

[2020-07-10 15:22] tmigone commented on #230
Hi @ejannett, I just tried replicating this error but could not do so. Indeed it looks like it's not picking up the compose arg values.
Just to confirm, you tried to push the app using `balena push` not `git push` correct? If so, what version of the balena CLI are you using (`balena -v`)?

[2020-07-10 15:23] tmigone commented on #230
Just saw you posted the CLI version above.

[2020-07-10 15:30] tmigone commented on #230
Also, what's the application arch (not the device type), is that `rpi`? You can check it on the apps page in the dashboard.

[2020-07-10 15:31] ejannett commented on #230
Hi,
this is rasberryPi zeroW

[2020-07-10 15:32] ejannett commented on #230
this is indeed "rpi"

[2020-07-10 15:33] tmigone commented on #230
Thanks,  last question, you are working with our production cloud right (https://dashboard.balena-cloud.com/apps)?

[2020-07-10 15:38] ejannett commented on #230
yes

[2020-07-11 11:41] AlexProgrammerDE opened #234 "Nfc bluetooth pairing"
**Is your feature request related to a problem? Please describe.**
I saw devices which can pair with my device by simply using nfc pairing. I will check it out later and try to get it to balenaSound.

**Describe the solution you'd like**
https://www.taterli.com/nrf5/nrf5/nfc_ble_pair_lib_dox.html

[2020-07-14 14:56] tmigone commented on #230
hey @ejannett, this was identified as an issue with our image builders. It has been solved now so i'll close the issue.

[2020-07-14 14:56] #230 closed

[2020-07-15 17:52] jtonello commented on #224
I have a user who is unable to get Spotify Connect to work and I ran my own version an RPi 3 (not 64). The spotify service will not start and shows an exited status. The balenaSound_251e device shows up for a moment, then disappears. I've confirmed this on my mobile Spotify app, Web browser and installed desktop app.

[2020-07-16 15:41] Javilatte opened #236 "Trouble setting up Balena Sound services"
When I access my Balena dashboard I can't see the services part where you activate or deactivate Airdrop, Bluetooth...
It just does not appear  (I've been following [the official tutorial](https://www.balena.io/blog/turn-your-old-speakers-or-hi-fi-into-bluetooth-receivers-using-only-a-raspberry-pi/)).
Can anyone help me?

[2020-07-16 21:10] tmigone commented on #236
hey @Javilatte, do you mean you can't see the section or that the section has an empty container list? If the section is empty it might be that you didn't deploy the application yet, maybe you skipped a step?

In any case, our forums (https://forums.balena.io/) are a much better place for this type of support questions. We are very active with support in our forums which is handled by the same eng

[2020-07-17 19:04] tmigone opened #238 "Modes of operation"
Selected by env var `SOUND_MODE`

- [x] (default) multi-room: `SOUND_MODE=MULTI_ROOM`
- [x] multi-room-client-only: `SOUND_MODE=MULTI_ROOM_CLIENT_ONLY`
- [x] regular: `SOUND_MODE=STANDALONE`

[2020-07-17 19:06] tmigone opened #239 "Multi-room features"
- [x] force master server
- [x] client only mode: see https://github.com/balenalabs/balena-sound/issues/238

[2020-07-17 19:09] tmigone opened #240 "Bluetooth agent"
Replace bluetooth usage with bluetooth primitive.

[2020-07-17 19:13] tmigone opened #241 "Plugin: Spotify"
Convert image to use pulseaudio backend if possible. librespot has a pulseaudio backend (https://github.com/librespot-org/librespot#additional-dependencies) but raspotify does not expose it i think. Need to investigate

TODO
- [x] Not working for Pi Zero/Pi 1
- [x] Not working for Pi 4 / Pi 3 when using lesser app archs (pi0/1)

[2020-07-17 19:15] tmigone opened #242 "Plugin: Airplay"
Convert image to use pulseaudio backend if possible. According to docs [here](https://github.com/mikebrady/shairport-sync#what-else) it has pulseaudio backend, though it might not be included on the apt-get package, so maybe we need to build from source?

[2020-07-17 19:16] tmigone opened #243 "Plugin: UPnP"
Convert image to use pulseaudio backend if possible. According to docs [here](https://github.com/hzeller/gmrender-resurrect/blob/master/INSTALL.md) it has PA a backend

[2020-07-17 19:18] tmigone opened #244 "Env vars"
Implement new prefixed env vars. See doc.

[2020-07-17 19:19] tmigone opened #245 "Fleet supervisor update"
Update fleet supervisor to work with the audio primitive and the companion library.

[2020-07-17 19:20] tmigone opened #246 "Docs"
Need to comb through the docs and update as needed:

- [x] Landr pages

- [x] EFP writeup

- [x] Blog posts (original and multi-room)

cc: @andrewnhem let me know if I'm forgetting something!

[2020-07-17 19:32] tmigone opened #247 "Plugins: new ones!"
Would be nice to have a few more plugins (one or two). Roonbridge sounds like an easy one since there is a PR already.

[2020-07-17 19:43] tmigone commented on #96
Should be addressed by #82 , feel free to reopen if you think otherwise!

[2020-07-17 19:43] #96 closed

[2020-07-17 19:44] tmigone commented on #100
This will be possible when 3.x is released with play/stop event hooks.

[2020-07-17 19:56] tmigone commented on #107
Alex that's my initial approach too, but if the user misses the warning it might end up damaging their speakers, I would be mad :P
I think this could be solved with 3.x because of how pulseaudio deals with volumes. @chrisys do you remember what DAC you experienced this with? We can try and see if it's better.

[2020-07-17 20:00] tmigone commented on #115
Closing as it seems to be sorted out. Feel free to reopen.

[2020-07-17 20:00] #115 closed

[2020-07-17 20:09] tmigone commented on #142
Closing, feel free to reopen.

[2020-07-17 20:09] #142 closed

[2020-07-17 20:10] tmigone commented on #144
@fabio323ti let us know if you tried that DAC and if it works we can add it to the list. Cheers.

[2020-07-17 20:10] #144 closed

[2020-07-17 20:13] tmigone commented on #148
Let's keep disusion about this in #62

[2020-07-17 20:13] #148 closed

[2020-07-17 20:17] tmigone commented on #161
Hi if you mean disconnecting from AirPlay I don't think that's possible because the airplay interface is very limited. Let me know if I misunderstood the question.

[2020-07-17 20:17] #161 closed

[2020-07-17 20:20] tmigone commented on #170
Updated!

[2020-07-17 20:20] #170 closed

[2020-07-17 20:26] tmigone commented on #182
@atulwadh1 did you manage to solve this? Let me know

[2020-07-17 20:26] #182 closed

[2020-07-17 20:29] tmigone commented on #190
Hi, custom bitrates and samples are a bit too complex for the current state of balenaSound. We might look into that in the future after the next major version, but it's not big on the priority list.

[2020-07-17 20:29] #190 closed

[2020-07-17 20:30] tmigone commented on #193
Hi, this is unfortunately a bit too complex for the scope of balenaSound at the moment. We might look into this type of features in the future once we have the next major version out, but it's not a big priority.

[2020-07-17 20:32] tmigone commented on #203
hi @mcohen75 are you talking about USB or HDMI?

[2020-07-17 20:34] tmigone commented on #204
hey @pthorntonharvard let us know if you managed to get this DAC to work!

[2020-07-17 20:34] #204 closed

[2020-07-17 20:34] tmigone commented on #205
Closing this as we don't support this board upstream

[2020-07-17 20:34] #205 closed

[2020-07-17 20:35] tmigone commented on #206
Update, I bought a bluetooth emitter/receiver and will be trying this out soon.

[2020-07-17 20:38] #213 closed

[2020-07-17 20:42] tmigone commented on #223
Hi, at this point we don't wan't to include a fully fledged audio server in balenaSound. This might change in the future, but for now we want to keep it audio-server agnostic (there a a few other competitors to forked-daapd that we could also settle for).

[2020-07-17 20:42] #223 closed

[2020-07-17 20:45] tmigone commented on #224
Hi @RJStevenson, unfortunately there is no easy fix for the problem you are experiencing. The fix you applied to use the USB soundcard will be a hit or miss in my experience. This will be fixed however in the next major version of balenaSound.

Also @support-agents i think the linked JF thread does not relate to the original issue.

[2020-07-17 20:46] tmigone commented on #225
Yeah this is a duplicate of that linked issue. I'll close, let's use the other one.

[2020-07-17 20:46] #225 closed

[2020-07-17 20:48] tmigone commented on #229
Closing due to inactivity. Feel free to reopen.

[2020-07-17 20:48] #229 closed

[2020-07-17 20:49] tmigone commented on #233
Hi @Iamnihc , this is definitely coming in the next major release of balenaSound. Maybe not all at once, but we plan on having event hooks and an API to be able to interact programatically with this information.

[2020-07-17 20:50] #236 closed

[2020-07-18 03:21] pjgoodall commented on #9
I have an external amplifier with a USB DAC input. The outputs of `alsa -l`  and `lsusb ` are below.

i forked balena-sound, and created the `asound.conf` file and added the `COPY asound.conf /etc/` to `bluetooth-audio/Dockerfile.template`

I pushed the resulting configuration using 'balena push' and it arrived on my device - no sound.
Following basic instructions on the [Asoundrc](https://alsa-pr

[2020-07-18 11:38] fa0lan opened #248 "Add support for BOSS I2S DAC V 1.2"
Hey guys,
I really enjoy using balena-sound. I've got a DAC (BOSS I2S DAC V 1.2) which is not officially supported in your `/docs/04-dacs.md`. I have tried adding the custom configuration variable `BALENA_HOST_CONFIG_dtoverlay` with the value of `allo-boss-dac-pcm512x-audio`. No success so far. I have also modified the DT parameters as explained in your [guide](https://www.balena.io/blog/turn-your

[2020-07-18 13:55] AlexProgrammerDE commented on #241
I will take a look at it. In the case it doesn't support it i will directly build librespot. Btw i have now spotify premium, so i will test i now too.

[2020-07-18 13:58] AlexProgrammerDE opened #249 "Flutter app"
It is a huge project, but achievable through the api we will get in 3.0. I never really worked with flutter before, so that ,ight take REALLY much time for me. Flutter is a platform to code apps for ios and android at the same time.

[2020-07-18 14:32] AlexProgrammerDE commented on #241
Ah and btw i think raspotify just installs librespot on the PI and we are directly executing it. Maybe building it ourselfes is better? Cuz that project might get outdated.

[2020-07-18 16:39] AlexProgrammerDE commented on #241
@tmigone i made a project with the stuff. Just needs some testing. We can make a template repo for balenaSound plugins so developing is faster.

[2020-07-19 12:27] minix1234 commented on #242
Mr. Brady has done some significant work creating a common docker image for shairport-sync. please see docker file at https://hub.docker.com/r/mikebrady/shairport-sync/dockerfile

[2020-07-19 12:27] minix1234 commented on #242
ps. the Debian package is very much outdated

[2020-07-19 12:30] AlexProgrammerDE commented on #242
@minix1234 what do you mean with "outdated"? Does the team no longer maintain the project or are they just not publishing the code? @tmigone if thats the case we should maybe build it ourselfes.

[2020-07-19 12:31] AlexProgrammerDE commented on #241
If the spotify project work will i create the template and share it here.

[2020-07-19 12:58] minix1234 commented on #242
the Debian package repository is at revision 3.2.2 (October 2018) while current GitHub release is 3.3.7.  I believe Chris boot was maintaining the Debian package/git repository.  it has since been stale.

[2020-07-19 13:50] minix1234 commented on #242
and just for clarification I'm not sure why that's the case.  I see Mr boot has been doing work on the Debian version of the repository in late 2019.  but the packaged version of the application is still 3.2.2.

[2020-07-22 21:22] stnorton opened #254 "no sound after installing hifiberry digi+"
I've installed the hifiberry digi+ and followed the configuration instructions in the docs, i.e. audio=off and BALENA_HOST_CONFIG_dtoverlay=hifiberry-digi

Since installing it, the only output I get is a low buzzing noise. When I connect via Spotify connect or bluetooth, it will show as connected and playing music, but I get no audio via the speakers. The Pi is plugged into an amp (an old-ish Pion

[2020-07-23 10:30] middric opened #255 "Deploy failure - snapcast bad signature"
**Describe the problem**
Pushing a release of master or 2.4.8 and I'm seeing snapcast-server and snapcast-client errors resulting in a deployment failure:

[code]

and

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/balenalabs/balena-sound.git
2. git checkout v2.4.8 (master has same issue)
3. balena push appname

**Device information**
 - Board (hardware

[2020-07-23 11:44] middric commented on #255
Following up that setting SNAPCAST_VERSION to 0.19.0-r1 and switching from edge to the latest-stable branch of the alpine repo results in a successful deploy. I can see that the snapcast apk's in the edge branch were modified on 22-Jul-2020 16:09 so presumably they are invalid and dont match the expected signature

[2020-07-23 15:58] tmigone commented on #255
hey @middric thanks for bringing this up. Looks like the best alternative for the moment is to rely on the latest available version without resorting to edge repositories. This [PR](https://github.com/balenalabs/balena-sound/pull/256) should fix the problem. I bumped the alpine version to 3.12 so that means snapcast 0.19.

[2020-07-23 16:05] tmigone commented on #255
Should be fixed by v2.4.9, thanks again!

[2020-07-23 16:05] #255 closed

[2020-07-23 16:07] tmigone commented on #254
Hey @stnorton have you tried the DAC with another application or OS? I only ask because we've helped people troubleshoot DACs in the past and many times it turns out the DAC was faulty 😁

[2020-07-23 16:18] middric commented on #255
:+1: Thanks @tmigone

[2020-07-24 11:12] sradevski opened #257 "User would like to be able to set arbitrary online radio stations as the source"
User's idea:

I guess something like balenaDash where you can place a URL in a standardized format can be relatively easy to do and will add the desired flexibility of playing any audio really.

[2020-07-28 07:22] AlexProgrammerDE commented on #241
@tmigone i got librespot working. Everything seems to work fine, but i get no audio output. I will keep it like this. Because i dont know if its spotify or the audio primitive causing it. Can you please take a look at it?

[2020-07-28 14:48] AlexProgrammerDE commented on #243
yes it has. Im doing it rn. Its a simple change. We need to install the pulseaudio gstreamer package instead of als package.

[2020-07-28 15:30] tmigone commented on #241
hey @AlexProgrammerDE I'm having a hard time compiling the rust packages with livepush. Did you manage to push it using livepush? Maybe it's too much but if I deploy it works? Going to try that later

[2020-07-28 15:31] arashrh1 opened #258 "Add support for Beyerdynamic A200p DAC"
Hi :),
Im using balena-sound and I've got a Beyerdynamic A200p which is not officially supported.
It would be great if you could add support for this DAC. 🙏🙏🙏

[2020-07-28 15:42] AlexProgrammerDE commented on #241
hi @tmigone i am not entirely sure what you mean with "livepush" Im just pushing the code to my device through the `blena push appname` command. Building the librespot rust package works fine for me. Im using a raspberry pi 4. What device are you pushing to?

[2020-07-28 16:05] AlexProgrammerDE commented on #241
Ah and i forgot to mention that raspotify as you said only compiles with alsa support. Thats one more reason to compile it ourselves.

[2020-07-28 16:46] tmigone commented on #241
I was pushing to a Pi4 using livepush (`balena push <IP of device in local mode>`), if you haven't I recommend you check it out because it's awesome and super fast: https://www.balena.io/blog/living-on-the-edge-with-livepush-and-other-cli-improvements/

Except in this case is not good, so maybe try it for some other project 😆
Livepush basically builds the docker-compose file on the device (so you

[2020-07-28 21:48] tmigone commented on #258
Hi @arashrh1, as far as I can tell this is a USB DAC right?
If so, balenaSound 2.x does not support it unfortunately, but the next major version (3.x) should! We don't have an ETA yet on when that will be ready but it's high on our priority list.

[2020-07-29 07:33] netzwerg-au opened #259 "fleet-supervisor cycles service online/offline"
I have a multi-room deployment with 2 x RPi 4 and 1 x RPi 3B+ all connected via wifi.  I noticed intermittent cutouts (every few minutes) on one of the RPi 4s, regardless of whether I am connecting directly to it or to the other RPi4.  I just checked the terminal of the offending RPi 4 and found that the fleet-supervisor service keeps cycling between online and offline.

[code]

I have tried reboo

[2020-07-29 08:44] AlexProgrammerDE commented on #243
I pushed the code. I still get no output at both services. I will take a look at airplay later.

[2020-07-29 21:03] tmigone commented on #241
@AlexProgrammerDE the plugin works great! There are a few missing bits for the audio block i haven't pushed yet and that's why you don't hear audio, but I've tested locally and it's 👍
I'll try upload a few diagrams to the google doc I shared with you that hopefully will make understanding the audio block easier.

Also, @chrisys didn't like the name `primitives` 🤣 🤣 🤣  so they are now called `block

[2020-07-30 13:44] tmigone opened #260 "HomeAssistant integration"
Consider adding homeassistant integration.

[2020-07-31 23:48] Paytah232 opened #261 "Spotify Song Cache?"
Hi,

I'm wondering if the librespot library used has the functionality to be able to cache songs it has played for future playback. I run my RPis using a 16GB SD (or could go bigger) as sometimes I have intermittent internet dropouts. Most of the time this is okay, but it would be nice if some songs could still play when the internet goes down (without reverting to bluetooth - I also have spotify

[2020-08-05 19:55] tmigone commented on #241
Just pushed a few changes that fix the audio block, spotify is now working 💪
I couldn't get it to work for pi zero / pi 1 though. It throws a weird error, did you see the same?

[2020-08-05 19:59] tmigone commented on #241
The other problem is that the container is massive (1GB). I looked into cross-compiling the binaries (similar to what raspotify does). I managed to get it done but not for pi zero/1. So won't push those changes yet.

[2020-08-05 20:04] AlexProgrammerDE commented on #241
@tmigone hi. I couldn't get the chance yet to test it on older devices. I waited for the sound fixing update 😉 i will test it out soon. What does cross compiling do exactly?

[2020-08-05 20:13] tmigone commented on #241
So the idea is that we have the binary, the librespot program, already compiled and stored in a folder. Then the dockerfile only needs to copy that file and run it, no need to get rust, install cargo and build it from source, which is the part that takes a lot of time.
These binaries are different for each architecture (aarch64, armv7, x86, etc) and to get them you need to compile on a device that

[2020-08-05 20:15] tmigone commented on #241
Raspotify for example uses [this](https://github.com/dtcooper/raspotify/blob/master/Dockerfile#L29) which works for all raspberry pi architectures. But I can't get it to build the pulseaudio backend.

[2020-08-05 20:15] tmigone commented on #241
I'll clean up my dockerfiles for the other archs and upload so you can see.

[2020-08-05 20:41] tmigone commented on #243
works great! 👍

[2020-08-05 20:55] AlexProgrammerDE commented on #261
We are already caching songs. Hiw often do you play the songs? It might take a while till librespot decides to make the cache bigger.

[2020-08-06 08:06] AnomahR opened #264 "Add support for Waveshare WM8960 DAC HAT"
I would like to use the Waveshare WM8960 Audio HAT for the Raspberry Pi Zero W running BalenaSound and would love to see it appearing on the [list of supported DACs](https://sound.balenalabs.io/docs/dac-configuration/)!

I have taken a look at the [installation manual](https://www.waveshare.com/w/upload/5/54/WM8960_Audio_HAT_User_Manual_EN.pdf) but do not know how to install the drivers on the Bal

[2020-08-06 08:10] AlexProgrammerDE commented on #264
@AnomahR after taking a look at the installation programm i found this: `wm8960-soundcard` can you please set this as your dtoverlay? Please let me know if it works

[2020-08-06 08:31] AnomahR commented on #264
Thanks for your quick response! After setting the `BALENA_HOST_CONFIG_dtoverlay` parameter to `wm8960-soundcard`, I got the following error messages: [dtoverlay_wm8960-soundcard.txt](https://github.com/balenalabs/balena-sound/files/5033548/dtoverlay_wm8960-soundcard.txt)

Also I tried to connect via bluetooth and Spotify Connect but neither way I could hear any sound. The usual "bluetooth-connecti

[2020-08-06 08:51] cryptoAlgorithm commented on #264
I hope that this can be fully working soon as I also have this HAT lying around somewhere and would like to try it out for lower noise and higher volume.

[2020-08-08 17:44] AnomahR commented on #264
Three days of not doing what I was intended to later I finally made it work! Not the most elegant solution but it works for my Pi Zero W with the WM8960 DAC HAT. In case it might be helpful here is how I did it:

1. Added the `wm8960-soundcard.dtbo` to the overlays folder of the image before flashing it to the SD card (see [instructions](https://forums.balena.io/t/preload-device-tree-overlays/5495

[2020-08-10 13:21] tmigone opened #265 "DAC support: Adafruit I2S Audio Bonnet"
This should do the trick, though we need confirmation it works:

- https://sound.balenalabs.io/docs/dac-configuration
- `BALENA_HOST_CONFIG_dtoverlay="hifiberry-dac”, “i2s-mmap”`

[2020-08-10 13:30] tmigone commented on #259
Hi @netzwerg-au , can you check if the fleet supervisor service is being restarted or is it just the publisher/subscribers? You can verify this by checking the dashboard and checking the `fleet-supervisor` service logs.

[2020-08-10 13:35] tmigone commented on #261
As Alex commented, we are already using the `cache` option from `librespot`. This should be good enough for internet dropouts though for more prolonged outages it won't cut it. Offline playback would be nice to have but unfortunately it's not something that can be added as it constitutes a violation of Spotify's end user agreement, see [this](https://github.com/librespot-org/librespot/issues/152)

[2020-08-10 19:10] xneomac commented on #144
I have tested with an [I-SABRE AMP DAC ES9023](https://www.audiophonics.fr/fr/dac-et-interfaces-pour-raspberry-pi/audiophonics-i-sabre-amp-dac-es9023-amplificateur-class-d-2x30w-tpa3118-pour-raspberry-pi-p-11800.html) which is using the same DAC than the [I-SABRE V2.1 DAC ES9023 TCXO](https://www.audiophonics.fr/fr/dac-et-interfaces-pour-raspberry-pi/audiophonics-i-sabre-v21-dac-es9023-tcxo-raspbe

[2020-08-12 20:07] tmigone commented on #241
TODO

- [ ] Not working for Pi Zero/Pi 1
- [ ] Not working for Pi 4 / Pi 3 when using lesser app archs (pi0/1)

[2020-08-17 06:47] janek commented on #203
@mcohen75's suggestion worked for me to get sound working via USB (an external sound card connected via USB) on a Zero W. Thank you!

[2020-08-17 10:50] georgiats commented on #26
comment

[2020-08-17 15:33] OneBobone opened #266 "Multiple device aliases"
Hello,
Is it possible to have several active aliases for the DEVICE_NAME?
If the alias call can be identified, it would enable an interesting integration with multi-room amplifiers.

[2020-08-17 17:53] tmigone commented on #266
Hi there, can you expand a bit on this idea? Not sure I fully understand it.

[2020-08-17 20:14] OneBobone commented on #266
A multi zone amplifier typically takes a sources and amplifies the music to a selected pair of speakers in a zone. Some of these amplifiers can be controlled by code.

If I could publish on the network aliases of the DEVICE_NAME for each zone and track that selection, I could programmatically control the correct zone from a phone. Would be very nice.
Some systems do this already.

[2020-08-22 08:14] greflm13 opened #267 "Add option to disable volume normalisation"
When playing an album like The Wall, the songs have very different dynamic ranges but smooth transitions and with volume normalisation it is painfully obvious that the song changes, because there is an audible cut to another volume

**Describe the solution you'd like**
Add a new Environment Variable e.g. DISABLE_VOLUME_NORMALISATION
[code]

[2020-08-24 18:44] #238 closed

[2020-08-24 18:45] #239 closed

[2020-08-24 18:45] #240 closed

[2020-08-24 18:50] tmigone commented on #241
So update on this. After spending WAY more time than expected I could not get a binary that worked fine with the `pulseaudio` backend. A very TL;DR of my experience with this:

- Installing with cargo or building on device --> took too long and was not supported for Pi Zero.
- Pre-building the binaries using cross-compilation --> a pain to setup, though it almost worked. I could not get a binary f

[2020-08-24 18:50] #241 closed

[2020-08-24 18:53] tmigone commented on #242
@minix1234 do you know if the the docker image works across the entire raspberry pi family of devices?